.content {
    width: 900px;
}

.row,
.check-content {
    /* 直接設定寬度為 .content 的 85%，減去內邊距的影響 */
    width: calc(765px - 40px); /* 這裡的 40px 是左右內邊距的總和 */
    margin-left: 97px; /* 根據需要保持或調整 */
    padding-left: 20px;
    padding-right: 20px;
}

.row {
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
}

.check-content {
    display: flex;
    background-color: #eeeeee;
    padding-bottom: 20px; /* 根據需要調整 */
}

.check-content-title {
    padding-left: 5px; /* 若這對總寬度有影響，考慮調整 */
    padding-top: 20px;
    width: 115px; /* 保持原設定 */
}

.check-content-content {
    padding-left: 10px;
    padding-top: 20px;
    padding-right: 15px; /* 若這對總寬度有影響，考慮調整 */
    width: 650px; /* 保持原設定 */
}



.content h1{
    margin-bottom: 40px;
}



/* .row:nth-child(2n+2){
    background-color: #efe2fb;
} */

.row{
    border-bottom: 1px solid gray;
}

.row.rhead{
    background-color: #9169b9;
    margin-left: 97px;
    color:#fff;
}

.row.rhead li{ 
}



.send-content{
    background-color: #dbdbdb;
    padding: 5px;
}

.reply-content{
    margin-top: 10px;
    
}

.reply-content textarea{
    margin-top: 5px;
}   

.reply-content textarea{
    width: 100%;
}

.send-content-title{
    margin-bottom: 15px;
}

.send-time{
    margin-top: 10px;
}

.reply-state{
    margin-top: 10px;
}

.content-expand{
    cursor: pointer;
}

.hidden{
    display: none!important;
}