<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Single Course</title>
    <meta name="robots" content="noindex, follow"/>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png">

    <!-- CSS
	============================================ -->
    <link rel="stylesheet" th:href="@{/assets/css/vendor/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/vendor/slick.css}">
    <link rel="stylesheet" th:href="@{/assets/css/vendor/slick-theme.css}">
    <link rel="stylesheet" th:href="@{/assets/css/plugins/sal.css}">
    <link rel="stylesheet" th:href="@{/assets/css/plugins/feather.css}">
    <link rel="stylesheet" th:href="@{/assets/css/plugins/fontawesome.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/plugins/euclid-circulara.css}">
    <link rel="stylesheet" th:href="@{/assets/css/plugins/swiper.css}">
    <link rel="stylesheet" th:href="@{/assets/css/plugins/magnify.css}">
    <link rel="stylesheet" th:href="@{/assets/css/plugins/odometer.css}">
    <link rel="stylesheet" th:href="@{/assets/css/plugins/animation.css}">
    <link rel="stylesheet" th:href="@{/assets/css/plugins/bootstrap-select.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/plugins/jquery-ui.css}">
    <link rel="stylesheet" th:href="@{/assets/css/plugins/magnigy-popup.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/plugins/plyr.css}">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
    <!--jquery-->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <!-- ●●js  for jquery datatables 用 -->
    <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
    <!-- ●●js  for jquery datatables 用 -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/dataTables.jqueryui.min.css"/>

    <style>
        #headshot {
            height: 250px;
            width: 250px;
        }
    </style>
</head>

<body>
<!-- Start Header Area -->
<div th:replace="/front-end/header.html"></div>
<!-- Mobile Menu Section -->
<div th:replace="front-end/header_moblie.html"></div>
<!-- Start Side Vav -->
<div th:replace="/front-end/cart/cartview.html"></div>
<!-- End Side Vav -->
<a class="close_side_menu" href="javascript:void(0);"></a>


<div class="rbt-page-banner-wrapper">
    <!-- Start Banner BG Image  -->
    <div class="rbt-banner-image"></div>
    <!-- End Banner BG Image  -->
    <div class="rbt-banner-content">
        <!-- Start Banner Content Top  -->
        <div class="rbt-banner-content-top rbt-breadcrumb-style-3">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <div class="content text-center">

                            <div class="d-flex align-items-center flex-wrap justify-content-center mb--15 rbt-course-details-feature">
                                <div class="feature-sin best-seller-badge">

                                </div>

                            </div>
                            <h2 class="title theme-gradient" id="session-uid" th:data-uid="${session.uId}"><span
                                    th:text="${courseVO.crTitle}"></span></h2>

                            <div class="rbt-author-meta mb--20 justify-content-center">
                                <div class="rbt-avater">
                                    <a href="#">
                                        <img class="userHeadshot" th:data-user-id="${userVO.getuId()}"
                                             alt="User Headshot">
                                    </a>
                                </div>
                                <div class="rbt-author-info">
                                    By
                                    <!--                                <a th:href="@{/}">-->
                                    <span th:text="${userVO.getuNickname()}"></span>
                                    <!--                                </a>-->
                                </div>
                            </div>

                            <ul class="rbt-meta">
                                <li><i class="feather-calendar"></i><span th:text="${courseVO.crCreateDate}"></span>
                                </li>
                                <li><i class="feather-award"></i><span th:text="${courseVO.crLevel}"></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Banner Content Top  -->
    </div>
</div>

<div class="rbt-section-overlayping-top rbt-section-gapBottom">
    <div class="inner">
        <div class="container">

            <div class="col-lg-12">
                <!-- Start Viedo Wrapper  -->
                <!--                <div class="video-popup-with-text">-->
                <a th:href="${videoUrl}" class="video-popup-wrapper text-center popup-video mb--15">

                    <div class="video-content">
                        <!-- 1305*660 -->
                        <div class="w-100 rbt-radius">

                            <img class="w-100 rbt-radius courseCover"
                                 id="video_images"
                                 th:data-course-id="${courseVO.crId}" alt="Course Cover">

                        </div>
                        <!-- 1305*660 -->
                        <div class="position-to-top">

                            <span class="rbt-btn rounded-player-2 with-animation" id="hide-video-icon">
                                        <span class="play-icon"></span>
                            </span>
                        </div>

                        <span class="play-view-text d-block color-white" id="Preview_course"><i class="feather-eye"></i> Preview this course</span>

                    </div>
                </a>
            </div>
        </div>

        <!-- End Viedo Wrapper  -->

        <div class="row row--30 gy-5 pt--60">
            <div class="col-lg-8">
                <!-- Start Course Details  -->
                <div class="course-details-content">
                    <div class="rbt-inner-onepage-navigation sticky-top">
                        <nav class="mainmenu-nav onepagenav">
                            <ul class="mainmenu">
                                <li class="current">
                                    <a href="#overview">簡介</a>
                                </li>
                                <li>
                                    <a href="#coursecontent">課程內容</a>
                                </li>
                                <li>
                                    <a href="#details">課程目標</a>
                                </li>
                                <li>
                                    <a href="#intructor">教練簡介</a>
                                </li>

                            </ul>
                        </nav>
                    </div>


                    <!-- Start Course Feature Box  -->
                    <div class="rbt-course-feature-box overview-wrapper rbt-shadow-box mt--30 has-show-more"
                         id="overview">
                        <div class="rbt-course-feature-inner has-show-more-inner-content">
                            <div class="section-title">
                                <h4 class="rbt-title-style-3">簡介</h4>
                            </div>
                            <p><span th:text="${courseVO.crIntro}"></span></p>

                        </div>
                    </div>
                    <!-- End Course Feature Box  -->

                    <!-- Start Course Content  -->
                    <div class="course-content rbt-shadow-box coursecontent-wrapper mt--30" id="coursecontent">
                        <div class="rbt-course-feature-inner">
                            <div class="section-title">
                                <h4 class="rbt-title-style-3">課程內容</h4>
                            </div>
                            <div class="rbt-accordion-style rbt-accordion-02 accordion">
                                <div class="accordion" id="accordionExampleb2">
                                    <!-- 動態生成課程內容 -->
                                    <div class="accordion-item card" th:each="video, videoStat : ${videosList}">
                                        <h2 class="accordion-header card-header" th:id="'heading'+ ${videoStat.index}">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                    th:data-bs-target="'#collapse' + ${videoStat.index}"
                                                    aria-expanded="true"
                                                    th:aria-controls="'collapse' + ${videoStat.index}">
                                                <span th:text="${video.getCdTitle()}">單元標題</span>
                                            </button>
                                        </h2>
                                        <div th:id="'collapse' + ${videoStat.index}"
                                             class="accordion-collapse collapse show"
                                             th:aria-labelledby="'heading' + ${videoStat.index}"
                                             data-bs-parent="#accordionExampleb2">
                                            <div class="accordion-body card-body pr--0">
                                                <ul class="rbt-course-main-content liststyle">
                                                    <li>
                                                        <a href="javascript:void(0);" id="video-login"
                                                           th:data-video-url="'/course/single_course/video/' + ${video.cdId} +'/2'"
                                                           class="video-link" th:data-cdid="${video.cdId}">
                                                            <div class="course-content-left">
                                                                <i class="feather-play-circle"></i> <span
                                                                    class="text"
                                                                    th:text="${video.getCdUnit()}">小單元名稱</span>
                                                            </div>
                                                            <div class="course-content-right">
                                                                <span class="rbt-badge variation-03 bg-primary-opacity"><i
                                                                        class="feather-eye"></i> Preview</span>
                                                            </div>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Course Content  -->

                                    <!-- Start Course Feature Box  -->
                                    <div class="rbt-course-feature-box rbt-shadow-box details-wrapper mt--30"
                                         id="details">
                                        <div class="row g-5">
                                            <!-- Start Feture Box  -->
                                            <div class="col-lg-6">
                                                <div class="section-title">
                                                    <h4 class="rbt-title-style-3 mb--20">學習目標</h4>
                                                </div>
                                                <ul class="rbt-list-style-1">
                                                    <li><i class="feather-check"></i><span
                                                            th:text="${courseVO.getCrPurpose1()}"></span></li>
                                                    <li><i class="feather-check"></i><span
                                                            th:text="${courseVO.getCrPurpose2()}"></span></li>
                                                    <li><i class="feather-check"></i><span
                                                            th:text="${courseVO.getCrPurpose3()}"></span></li>
                                                    <li><i class="feather-check"></i><span
                                                            th:text="${courseVO.getCrTarget1()}"></span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Course Feature Box  -->

                                    <!-- Start Intructor Area  -->
                                    <div class="rbt-instructor rbt-shadow-box intructor-wrapper mt--30" id="intructor">
                                        <div class="about-author border-0 pb--0 pt--0">
                                            <div class="section-title mb--30">
                                                <h4 class="rbt-title-style-3">講師</h4>
                                            </div>
                                            <div class="media align-items-center">
                                                <div class="thumbnail">
                                                    <a href="#">
                                                        <img class="userHeadshot" id="headshot"
                                                             th:data-user-id="${userVO.getuId()}" alt="User Headshot">
                                                    </a>
                                                </div>
                                                <div class="media-body">
                                                    <div class="author-info">
                                                        <h5 class="title">
                                                            <a class="hover-flip-item-wrapper" href="author.html">
                                                                <span th:text="${userVO.getuNickname()}"></span>
                                                            </a>
                                                        </h5>
                                                        <span class="b3 subtitle">
                                                    <span th:text="${userVO.getuName()}"></span>
                                            </span>
                                                        <ul class="rbt-meta mb--20 mt--10">
                                                        </ul>
                                                    </div>
                                                    <div class="content">
                                                        <p class="description"><span
                                                                th:text="${coachVO.getcIntro()}"></span></p>

                                                        <!--                                                        <ul class="social-icon social-default icon-naked justify-content-start">-->
                                                        <!--                                                            <li><a href="https://www.facebook.com/">-->
                                                        <!--                                                                <i class="feather-facebook"></i>-->
                                                        <!--                                                            </a>-->
                                                        <!--                                                            </li>-->
                                                        <!--                                                            <li><a href="https://www.twitter.com">-->
                                                        <!--                                                                <i class="feather-twitter"></i>-->
                                                        <!--                                                            </a>-->
                                                        <!--                                                            </li>-->
                                                        <!--                                                            <li><a href="https://www.instagram.com/">-->
                                                        <!--                                                                <i class="feather-instagram"></i>-->
                                                        <!--                                                            </a>-->
                                                        <!--                                                            </li>-->
                                                        <!--                                                            <li><a href="https://www.linkdin.com/">-->
                                                        <!--                                                                <i class="feather-linkedin"></i>-->
                                                        <!--                                                            </a>-->
                                                        <!--                                                            </li>-->
                                                        <!--                                                        </ul>-->

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Intructor Area  -->


                                </div>
                                <!-- End Course Details  -->

                                <!-- Start Related Course  -->
                                <div class="related-course mt--60">
                                    <div class="row g-5 align-items-end mb--40">
                                        <div class="col-lg-8 col-md-8 col-12">
                                            <div class="section-title">
                                                <span class="subtitle bg-pink-opacity">熱門課程</span>
                                                <h4 class="title">
                                                    <strong class="color-primary"><span
                                                            th:text="${userVO.getuNickname()}"></span></strong>
                                                    的更多課程</h4>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-12">
                                            <div class="read-more-btn text-start text-md-end">
                                                <a class="rbt-btn rbt-switch-btn btn-border btn-sm"
                                                   href="/course/courses">
                                                    <span data-text="查看所有課程">查看所有課程</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row g-5">

                                        <!-- Start Single Card  -->
                                        <th:block th:each="re_courses : ${relatedCourse}">
                                            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                                                <div class="rbt-card variation-01 rbt-hover">
                                                    <div class="rbt-card-img">
                                                        <a th:href="@{'/course/single_course/' + ${re_courses.crId}}">
                                                            <img class="courseCover"
                                                                 th:data-course-id="${re_courses.crId}"
                                                                 alt="Card image">
                                                        </a>
                                                    </div>
                                                    <div class="rbt-card-body">
<!--                                                        <div class="rbt-card-top">-->
<!--                                                            <div class="rbt-review">-->
<!--                                                                <div class="rating">-->
<!--                                                                    <i class="fas fa-star"></i>-->
<!--                                                                    <i class="fas fa-star"></i>-->
<!--                                                                    <i class="fas fa-star"></i>-->
<!--                                                                    <i class="fas fa-star"></i>-->
<!--                                                                    <i class="fas fa-star"></i>-->
<!--                                                                </div>-->
<!--                                                                <span class="rating-count"> (5 Reviews)</span>-->
<!--                                                            </div>-->
<!--                                                            <div class="rbt-bookmark-btn">-->
<!--                                                                <a class="rbt-round-btn" title="Bookmark"-->
<!--                                                                   th:href="@{#}"><i-->
<!--                                                                        class="feather-bookmark"></i></a>-->
<!--                                                            </div>-->
<!--                                                        </div>-->
                                                        <h4 class="rbt-card-title"><a th:href="@{'/course/single_course/' + ${re_courses.crId}}"
                                                                                      th:text="${re_courses.crTitle}" >
                                                        </h4>
<!--                                                        <ul class="rbt-meta">-->
<!--                                                            <li><i class="feather-book"></i>8 Lessons</li>-->
<!--                                                            <li><i class="feather-users"></i>30 Students</li>-->
<!--                                                        </ul>-->
                                                        <p class="rbt-card-text" th:text="${re_courses.crSubtitle}"></p>

                                                        <div class="rbt-author-meta mb--20">
                                                            <div class="rbt-avater">
                                                                <a th:href="@{'/single_course/' + ${re_courses.crId}}">
                                                                    <img class="userHeadshot"
                                                                         th:data-user-id="${re_courses.getUserVO().getuId()}"
                                                                         alt="User Headshot2">
                                                                </a>
                                                            </div>
                                                            <div class="rbt-author-info">
                                                                By <span
                                                                    th:text="${re_courses.getUserVO().getuNickname()}"></span>
                                                            </div>
                                                        </div>
                                                        <div class="rbt-card-bottom">
                                                            <div class="rbt-price">
                                                                <span class="current-price"
                                                                      th:text="'NT$'+ ${re_courses.crPrice}"></span>
                                                            </div>
                                                            <a class="rbt-btn-link left-icon" href="javascript:void(0);"
                                                               th:onclick="'add2Cart(' + ${re_courses.crId} + ');'">
                                                                <i class="feather-shopping-cart"></i>加入購物車
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </th:block>
                                        <!-- End Single Card  -->

                                    </div>
                                </div>
                                <!-- End Related Course  -->
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="course-sidebar sticky-top rbt-shadow-box rbt-gradient-border">
                    <div class="inner">
                        <div class="content-item-content">
                            <div class="rbt-price-wrapper d-flex flex-wrap align-items-center justify-content-between">
                                <div class="rbt-price">
                                    <span class="current-price" th:text="'NT$'+ ${courseVO.getCrPrice()}"></span>
                                    <!--                                        <span class="off-price">$84.99</span>-->
                                </div>

                            </div>

                            <div class="add-to-card-button mt--15">
                                <a class="rbt-btn btn-gradient icon-hover w-100 d-block text-center"
                                   href="javascript:void(0);"
                                   th:onclick="'add2Cart(' + ${courseVO.crId} + ');'">
                                    <span class="btn-text">加入購物車</span>
                                    <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                </a>
                            </div>


                            <div class="rbt-widget-details has-show-more">
                                <ul class="has-show-more-inner-content rbt-course-details-list-wrapper">
                                    <li><span>學員</span><span class="rbt-feature-value rbt-badge-5">100</span></li>
                                    <li><span>單元</span><span class="rbt-feature-value rbt-badge-5"
                                                               th:text="${unitCount}">50</span></li>
                                    <li><span>困難度</span><span class="rbt-feature-value rbt-badge-5"
                                                                 th:text="${courseVO.getCrLevel()}">Basic</span>
                                    </li>
                                </ul>
                                <!--                                    <div class="rbt-show-more-btn">Show More</div>-->
                            </div>

                            <div class="social-share-wrapper mt--30 text-center">
                                <!--                                <div class="rbt-post-share d-flex align-items-center justify-content-center">-->
                                <!--                                    <ul class="social-icon social-default transparent-with-border justify-content-center">-->
                                <!--                                        <li><a href="https://www.facebook.com/">-->
                                <!--                                            <i class="feather-facebook"></i>-->
                                <!--                                        </a>-->
                                <!--                                        </li>-->
                                <!--                                        <li><a href="https://www.twitter.com">-->
                                <!--                                            <i class="feather-twitter"></i>-->
                                <!--                                        </a>-->
                                <!--                                        </li>-->
                                <!--                                        <li><a href="https://www.instagram.com/">-->
                                <!--                                            <i class="feather-instagram"></i>-->
                                <!--                                        </a>-->
                                <!--                                        </li>-->
                                <!--                                        <li><a href="https://www.linkdin.com/">-->
                                <!--                                            <i class="feather-linkedin"></i>-->
                                <!--                                        </a>-->
                                <!--                                        </li>-->
                                <!--                                    </ul>-->
                                <!--                                </div>-->
                                <hr class="mt--20">
                                <div class="contact-with-us text-center">
                                    <p>For details about the course</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="rbt-separator-mid">
            <div class="container">
                <hr class="rbt-separator m-0">
            </div>
        </div>

        <div class="rbt-related-course-area bg-color-white rbt-section-gap">
            <div class="container">
                <div class="section-title mb--30">
                    <h4 class="title">更多課程</h4>
                </div>
                <div class="row g-5">

                    <!-- Start Single Card  -->
                    <th:block th:each="courses : ${coursesList}">
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                            <div class="rbt-card variation-01 rbt-hover">
                                <div class="rbt-card-img">
                                    <a th:href="@{'/course/single_course/' + ${courses.crId}}">
                                        <img class="courseCover" th:data-course-id="${courses.crId}" alt="Card image">
                                    </a>
                                </div>
                                <div class="rbt-card-body">
<!--                                    <div class="rbt-card-top">-->
<!--                                        <div class="rbt-review">-->
<!--                                            <div class="rating">-->
<!--                                                <i class="fas fa-star"></i>-->
<!--                                                <i class="fas fa-star"></i>-->
<!--                                                <i class="fas fa-star"></i>-->
<!--                                                <i class="fas fa-star"></i>-->
<!--                                                <i class="fas fa-star"></i>-->
<!--                                            </div>-->
<!--                                            <span class="rating-count"> (5 Reviews)</span>-->
<!--                                        </div>-->
<!--                                        <div class="rbt-bookmark-btn">-->
<!--                                            <a class="rbt-round-btn" title="Bookmark" th:href="@{#}"><i-->
<!--                                                    class="feather-bookmark"></i></a>-->
<!--                                        </div>-->
<!--                                    </div>-->
                                    <h4 class="rbt-card-title"><a href="course-details.html"
                                                                  th:text="${courses.crTitle}">
                                    </h4>
                                    <ul class="rbt-meta">
                                        <li><i class="feather-book"></i>8 Lessons</li>
                                        <li><i class="feather-users"></i>30 Students</li>
                                    </ul>
                                    <p class="rbt-card-text" th:text="${courses.crSubtitle}"></p>

                                    <div class="rbt-author-meta mb--20">
                                        <div class="rbt-avater">
                                            <a th:href="@{'/single_course/' + ${courses.crId}}">
                                                <img class="userHeadshot"
                                                     th:data-user-id="${courses.getUserVO().getuId()}"
                                                     alt="User Headshot2">
                                            </a>
                                        </div>
                                        <div class="rbt-author-info">
                                            By <span th:text="${courses.getUserVO().getuNickname()}"></span>
                                        </div>
                                    </div>
                                    <div class="rbt-card-bottom">
                                        <div class="rbt-price">
                                            <span class="current-price" th:text="'NT$'+ ${courses.crPrice}"></span>
                                        </div>
                                        <a class="rbt-btn-link left-icon" href="javascript:void(0);"
                                           th:onclick="'add2Cart(' + ${courses.crId} + ');'">
                                            <i class="feather-shopping-cart"></i>加入購物車
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th:block>
                    <!-- End Single Card  -->

                </div>
            </div>
        </div>


        <div class="rbt-separator-mid">
            <div class="container">
                <hr class="rbt-separator m-0">
            </div>
        </div>
        <!-- Start Footer aera -->
        <div th:replace="front-end/footer"></div>
        <!-- End Footer aera -->
        <div class="rbt-progress-parent">
            <svg class="rbt-back-circle svg-inner" width="100%" height="100%" viewBox="-1 -1 102 102">
                <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"/>
            </svg>
        </div>
    </div>
</div>
<!-- JS
============================================ -->
<!-- Modernizer JS -->
<script th:src="@{/assets/js/vendor/modernizr.min.js}"></script>
<!-- jQuery JS -->
<script th:src="@{/assets/js/vendor/jquery.js}"></script>
<!-- Bootstrap JS -->
<script th:src="@{/assets/js/vendor/bootstrap.min.js}"></script>
<!-- sal.js -->
<script th:src="@{/assets/js/vendor/sal.js}"></script>
<script th:src="@{/assets/js/vendor/swiper.js}"></script>
<script th:src="@{/assets/js/vendor/magnify.min.js}"></script>
<script th:src="@{/assets/js/vendor/jquery-appear.js}"></script>
<script th:src="@{/assets/js/vendor/odometer.js}"></script>
<script th:src="@{/assets/js/vendor/backtotop.js}"></script>
<script th:src="@{/assets/js/vendor/isotop.js}"></script>
<script th:src="@{/assets/js/vendor/imageloaded.js}"></script>

<script th:src="@{/assets/js/vendor/wow.js}"></script>
<script th:src="@{/assets/js/vendor/waypoint.min.js}"></script>
<script th:src="@{/assets/js/vendor/easypie.js}"></script>
<script th:src="@{/assets/js/vendor/text-type.js}"></script>
<script th:src="@{/assets/js/vendor/jquery-one-page-nav.js}"></script>
<script th:src="@{/assets/js/vendor/bootstrap-select.min.js}"></script>
<script th:src="@{/assets/js/vendor/jquery-ui.js}"></script>
<script th:src="@{/assets/js/vendor/magnify-popup.min.js}"></script>
<script th:src="@{/assets/js/vendor/paralax-scroll.js}"></script>
<script th:src="@{/assets/js/vendor/paralax.min.js}"></script>
<script th:src="@{/assets/js/vendor/countdown.js}"></script>
<script th:src="@{/assets/js/vendor/plyr.js}"></script>
<!-- Main JS -->
<script th:src="@{/assets/js/main.js}"></script>

<!--course_single_course JS-->
<script>

    // video view

    // ------------------------ redis存取影片進度 ---------------------------------

    // 存紀錄
    function saveProgress(uId, cdId, progress) {
        // console.log(`送出 progress  uId: ${uId}, cdId: ${cdId}, progress: ${progress}`);
        let requestUrl = `/api/video/progress/save`;
        let body = {
            uid: `${uId}`,
            cdId: `${cdId}`,
            progress: `${progress}`
        };
        fetch(requestUrl, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(body)
        })
            .then(response => {
                if (response.ok) {
                    console.log('Progress 儲存成功');
                } else {
                    console.error('progress 儲存失敗');
                }
            })
            .catch(error => console.error('Error:', error));
    }

    // 取紀錄
    function getVideoProgress(uId, cdId, videoElement) {
        fetch(`/api/video/progress/get?uId=${uId}&cdId=${cdId}`)
            .then(response => {
                if (response.ok) {
                    return response.text();
                } else {
                    throw new Error('progress 取出失敗');
                }
            })
            .then(data => {
                // console.log('Video Progress:', data);
                if (data) {
                    // 載入時，獲取進度並設置當前時間
                    let progress = Number(data);
                    videoElement.currentTime = progress;
                }
            })
            .catch(error => console.error('Error:', error));
    }

    $(document).ready(function(){
        // click
       $(document).on("click", ".video-link", function(){
           let videoUrl = $(this).data('video-url');
           let cdId = $(this).data('cdid');
           let uId = $('#session-uid').data('uid');

           if(!uId){
               window.location.href = "/user/force_user_login";
           }

           fetch(`/course/getcourseBycdId/${cdId}`)
               .then(response => {
                   if(!response.ok){
                       throw new Error('得不到cdId');
                   }
                   return response.json();
               })
               .then(data => {
                   console.log("Response data:", data);
                   let crId = data.crId;
                   return checkCourseOwner(uId, crId);

               })
               .then(hasAccess => {
                   if (hasAccess) {
                       console.log("Has access:", hasAccess);
                       let target = $('.video-content');
                       let existingIframe = target.find('iframe');

                       if (existingIframe.length > 0) {
                           updateVideoSrc(existingIframe, videoUrl, cdId, uId);
                       } else {
                           createVideo(target, videoUrl, cdId, uId);
                       }
                   }
                   else{
                       console.log("No access to the video.");
                       alert("請購買影片再回來觀看");
                   }
               })
               .catch(error =>
               console.error("Error", error));
        });
    });
        function checkCourseOwner(uId, crId) {
            crId = $('#video_images').data('course-id');
            return fetch(`/cart/ownership/${uId}/${crId}`)
                .then(response => {
                        if (!response.ok) {
                            throw new Error('看不到擁有什麼課程');
                        }
                        return response.json();
                 })
                .then(data => {
                    console.log(data);
                    return Boolean(data.hasAccess);
                })
                .catch(error => console.error("Error fetching course ownership:", error));
        }

        function updateVideoSrc(iframe, videoUrl, cdId, uId){
        $(iframe).attr("src", videoUrl);
        $(iframe).off("load").on("load", function(){
            videoDra(this, uId, cdId);
        });
    }

    function createVideo(target, videoUrl, cdId, uId){
        let iframe = document.createElement('iframe');
        $(iframe).attr({
             src: videoUrl,
             width: '1125px',
             height: '633.3px',
             style: 'border-radius: 6px;'
        }).on("load", function (){
            videoDra(this, uId, cdId);
        });

        target.prepend(iframe);
        $("#hide-video-icon").hide();
        $("#video_images").hide();
    }

    function videoDra(iframe, uId, cdId) {
        let iframeDocument = iframe.contentDocument || iframe.contentWindow.document;
        let videoElement = iframeDocument.querySelector('video');

        if (videoElement) {
            videoElement.style.width = '100%';
            videoElement.style.height = '100%';

            getVideoProgress(uId, cdId, videoElement);

            videoElement.addEventListener('timeupdate', function () {
                let progress = videoElement.currentTime;
                saveProgress(uId, cdId, progress);
            });
        }
    };

    // ---------------------------------------------------------

    // userRestController getUserHeadshot
    $(document).ready(function () {
        let userIdList = [];

        $('.userHeadshot').each(function () {
            let data = $(this).data('user-id');

            // fetch 可以直接處理二進制資料(如blob)
            fetch('/user_api/user_headshot_test', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({u_id: data}),
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('response error');
                    }
                    return response.blob();
                })
                .then(blob => {
                    let image_Url = URL.createObjectURL(blob);

                    let this_e = $(this);
                    $(this).attr('src', image_Url);
                })
                .catch(error => {
                    $(this).attr('src', '/assets/images/client/avatar-02.png');
                });
        });
    });

    // StudentCourseRestController getcrCover
    $(document).ready(function () {
        let courseIdList = [];
        $('.courseCover').each(function () {
            // console.log($(this))
            let data = $(this).data('course-id');

            fetch('/cr_cover/course_image', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({cr_id: data}),
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('response error');
                    }
                    return response.blob();
                })
                .then(blob => {
                    let image_cover = URL.createObjectURL(blob);
                    // console.log(image_cover);
                    let this_e = $(this);
                    // console.log(this_e)
                    $(this).attr('src', image_cover);
                })
                .catch(error => {
                    $(this).attr('src', '/assets/images/client/avatar-02.png');
                });
        });
    });

    // 抓取歷史瀏覽紀錄
    $(document).ready(function () {
        let crId = $('#video_images').data('course-id');
        let uId = $('#session-uid').data('uid');
        // console.log("目前課程id: " + crId);
        recordHistory(crId);

        function recordHistory(crId) {
            // console.log("目前用戶id: " + uId);
            if (uId) {
                let requestUrl = `/api/history/add?uId=${uId}&crId=${crId}`;

                fetch(requestUrl, {method: 'POST'})
                    .then(response => {
                        if (response.ok) {
                            console.log("歷史紀錄添加成功");
                        } else {
                            console.error('添加歷史紀錄失敗');
                        }
                    })
                    .catch(error => console.error('錯誤:', error));
            } else {
                console.error('用戶未登入或用戶ID未存儲session');
            }
        }
    });

    // cart
    const add2Cart = (crId) => {
        fetch('/cart/add', {
            method: 'POST',
            body: crId,
            headers: {
                "content-type": "application/json",
            }
        }).then((res) => {
            if (res.redirected){
                window.location.href = res.url;
            }
            if (res.status === 401) {
                // 未登入回到登入頁面
                alert('請先登入！')
                window.location.href = '/user/force_user_login';
            } else {
                return res.text();
            }
        }).then((data) => {
            if (data === '您已擁有該課程！') {
                alert(data);
            } else if (data === '成功添加至購物車！')
                console.log(data);
        }).catch((error) => {
            console.error("發生錯誤:" + error);
        });
        // getCartItems();
    }





</script>
</body>

</html>