<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>fitanywhere Courses</title>
    <meta name="robots" content="noindex, follow"/>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/assets/images/favicon.png}">

    <!-- CSS
	============================================ -->
    <link rel="stylesheet" th:href="@{/assets/css/vendor/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/vendor/slick.css}">
    <link rel="stylesheet" th:href="@{/assets/css/vendor/slick-theme.css}">
    <link rel="stylesheet" th:href="@{/assets/css/plugins/sal.css}">
    <link rel="stylesheet" th:href="@{/assets/css/plugins/feather.css}">
    <link rel="stylesheet" th:href="@{/assets/css/plugins/fontawesome.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/plugins/euclid-circulara.css}">
    <link rel="stylesheet" th:href="@{/assets/css/plugins/swiper.css}">
    <link rel="stylesheet" th:href="@{/assets/css/plugins/magnify.css}">
    <link rel="stylesheet" th:href="@{/assets/css/plugins/odometer.css}">
    <link rel="stylesheet" th:href="@{/assets/css/plugins/animation.css}">
    <link rel="stylesheet" th:href="@{/assets/css/plugins/bootstrap-select.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/plugins/jquery-ui.css}">
    <link rel="stylesheet" th:href="@{/assets/css/plugins/magnigy-popup.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/plugins/plyr.css}">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <!-- ●●js  for jquery datatables 用 -->
    <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
    <!-- ●●js  for jquery datatables 用 -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/dataTables.jqueryui.min.css"/>

</head>

<body class="rbt-header-sticky">

<!-- Start Header Area -->
<div th:insert="front-end/header.html"></div>
<!-- Mobile Menu Section -->
<div th:replace="front-end/header_moblie.html"></div>


<!-- Start Side Vav -->
<div th:replace="/front-end/cart/cartview.html"></div>
<!-- End Side Vav -->
<a class="close_side_menu" href="javascript:void(0);"></a>

<div class="rbt-page-banner-wrapper">
    <!-- Start Banner BG Image  -->
    <div class="rbt-banner-image"></div>
    <!-- End Banner BG Image  -->
    <div class="rbt-banner-content">

        <!-- Start Banner Content Top  -->
        <div class="rbt-banner-content-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Start Breadcrumb Area  -->
                        <ul class="page-list">
                            <li class="rbt-breadcrumb-item"><a href="index.html">主頁</a></li>
                            <li>
                                <div class="icon-right"><i class="feather-chevron-right"></i></div>
                            </li>
                            <li class="rbt-breadcrumb-item active">課程列表</li>
                        </ul>
                        <!-- End Breadcrumb Area  -->
                        <!-- ------------------------------------------------------------------------------------------------------------------------------------------ -->
                        <div class=" title-wrapper">
                            <h1 class="title mb--0">所有課程</h1>

                        </div>
                        <p class="description">在這裡找到所有你想上的健身課程！ </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Banner Content Top  -->
        <!-- Start Course Top  -->
        <div class="rbt-course-top-wrapper mt--40">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-xl-5 col-lg-12 col-md-12">
                        <div class="rbt-sorting-list d-flex flex-wrap align-items-center">
                            <div class="rbt-short-item switch-layout-container">
                                <ul class="course-switch-layout">
                                    <li class="course-switch-item">
                                        <button class="rbt-grid-view active" title="Grid Layout"><i
                                                class="feather-grid"></i> <span class="text">網格</span></button>
                                    </li>
                                    <li class="course-switch-item">
                                        <button class="rbt-list-view" title="List Layout"><i class="feather-list"></i>
                                            <span class="text">清單</span></button>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-12 col-md-12">
                        <div class="rbt-sorting-list d-flex flex-wrap align-items-end justify-content-start justify-content-xl-end">
                            <div class="rbt-short-item">
                                <form action="/course/courses" method="get" class="rbt-search-style me-0">
                                    <input class="searchBar" type="text" placeholder="搜尋你想找的課程.." name="crTitle"
                                    th:data-currentPage="${currentPage}">
                                    <button type="submit" class="rbt-search-btn rbt-round-btn">
                                        <i class="feather-search"></i>
                                    </button>
                                </form>
                            </div>
                            <div class="rbt-short-item">
                                <div class="filter-select">
                                    <span class="select-label d-block">排序</span>
                                    <div class="filter-select rbt-modern-select search-by-category">
                                        <select id="sortSelect" data-size="7">
                                            <option>預設</option>
                                            <!--                                            <option>Latest</option>-->
                                            <!--                                            <option>Popularity</option>-->
                                            <!--                                            <option>Trending</option>-->
                                            <option>價格 由低至高</option>
                                            <option>價格 由高至低</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row default-exp-wrapper default-exp-expand top-border-less">
                    <div class="col-lg-12">
                        <div class="rbt-sidebar-widget-wrapper filter-top-2 mt--60">
                            <div class="row g-5">
                                <!-- Start Widget Area  -->
                                <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                                    <div class="rbt-single-widget rbt-widget-categories has-show-more">
                                        <div class="inner">
                                            <h4 class="rbt-widget-title-2">類別</h4>
                                            <ul class="rbt-sidebar-list-wrapper categories-list-check has-show-more-inner-content">
                                                <li class="rbt-check-group">
                                                    <input id="cat-list-1" type="checkbox" name="cat-list-1">
                                                    <label for="cat-list-1">Art &amp; Humanities <span
                                                            class="rbt-lable count">15</span></label>
                                                </li>
                                                <li class="rbt-check-group">
                                                    <input id="cat-list-2" type="checkbox" name="cat-list-2">
                                                    <label for="cat-list-2">Web Design <span
                                                            class="rbt-lable count">20</span></label>
                                                </li>
                                                <li class="rbt-check-group">
                                                    <input id="cat-list-3" type="checkbox" name="cat-list-3">
                                                    <label for="cat-list-3">Graphic Design <span
                                                            class="rbt-lable count">10</span></label>
                                                </li>
                                                <li class="rbt-check-group">
                                                    <input id="cat-list-4" type="checkbox" name="cat-list-4">
                                                    <label for="cat-list-4">Art &amp; Humanities <span
                                                            class="rbt-lable count">15</span></label>
                                                </li>
                                                <li class="rbt-check-group">
                                                    <input id="cat-list-5" type="checkbox" name="cat-list-5">
                                                    <label for="cat-list-5">Technology <span
                                                            class="rbt-lable count">20</span></label>
                                                </li>

                                            </ul>
                                        </div>
                                        <div class="rbt-show-more-btn">Show More</div>
                                    </div>
                                </div>
                                <!-- End Widget Area  -->

                                <!-- Start Widget Area  -->
                                <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                                    <div class="rbt-single-widget rbt-widget-rating">
                                        <div class="inner">
                                            <h4 class="rbt-widget-title-2">評價</h4>
                                            <ul class="rbt-sidebar-list-wrapper rating-list-check">
                                                <li class="rbt-check-group">
                                                    <input id="cat-radio-1" type="radio" name="rbt-radio">
                                                    <label for="cat-radio-1">
                                                            <span class="rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </span>
                                                        <span class="rbt-lable count">5</span>
                                                    </label>
                                                </li>
                                                <li class="rbt-check-group">
                                                    <input id="cat-radio-2" type="radio" name="rbt-radio">
                                                    <label for="cat-radio-2">
                                                            <span class="rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="off fas fa-star"></i>
                        </span>
                                                        <span class="rbt-lable count">4</span>
                                                    </label>
                                                </li>
                                                <li class="rbt-check-group">
                                                    <input id="cat-radio-3" type="radio" name="rbt-radio">
                                                    <label for="cat-radio-3">
                                                            <span class="rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="off fas fa-star"></i>
                            <i class="off fas fa-star"></i>
                        </span>
                                                        <span class="rbt-lable count">3</span>
                                                    </label>
                                                </li>
                                                <li class="rbt-check-group">
                                                    <input id="cat-radio-4" type="radio" name="rbt-radio">
                                                    <label for="cat-radio-4">
                                                            <span class="rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="off fas fa-star"></i>
                            <i class="off fas fa-star"></i>
                            <i class="off fas fa-star"></i>
                        </span>
                                                        <span class="rbt-lable count">2</span>
                                                    </label>
                                                </li>

                                                <li class="rbt-check-group">
                                                    <input id="cat-radio-5" type="radio" name="rbt-radio">
                                                    <label for="cat-radio-5">
                                                            <span class="rating">
                            <i class="fas fa-star"></i>
                            <i class="off fas fa-star"></i>
                            <i class="off fas fa-star"></i>
                            <i class="off fas fa-star"></i>
                            <i class="off fas fa-star"></i>
                        </span>
                                                        <span class="rbt-lable count">1</span>
                                                    </label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Widget Area  -->

                                <!-- Start Widget Area  -->
                                <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                                    <div class="rbt-single-widget rbt-widget-instructor">
                                        <div class="inner">
                                            <h4 class="rbt-widget-title-2">Instructors</h4>
                                            <ul class="rbt-sidebar-list-wrapper instructor-list-check">
                                                <li class="rbt-check-group">
                                                    <input id="ins-list-1" type="checkbox" name="ins-list-1">
                                                    <label for="ins-list-1">Slaughter <span
                                                            class="rbt-lable count">15</span></label>
                                                </li>
                                                <li class="rbt-check-group">
                                                    <input id="ins-list-2" type="checkbox" name="ins-list-2">
                                                    <label for="ins-list-2">Patrick <span
                                                            class="rbt-lable count">20</span></label>
                                                </li>
                                                <li class="rbt-check-group">
                                                    <input id="ins-list-3" type="checkbox" name="ins-list-3">
                                                    <label for="ins-list-3">Angela <span
                                                            class="rbt-lable count">10</span></label>
                                                </li>
                                                <li class="rbt-check-group">
                                                    <input id="ins-list-4" type="checkbox" name="ins-list-4">
                                                    <label for="ins-list-4">Fatima Asrafy <span class="rbt-lable count">15</span></label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Widget Area  -->

                                <!-- Start Widget Area  -->
                                <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                                    <div class="rbt-single-widget rbt-widget-prices">
                                        <div class="inner">
                                            <h4 class="rbt-widget-title-2">Prices</h4>
                                            <ul class="rbt-sidebar-list-wrapper prices-list-check">
                                                <li class="rbt-check-group">
                                                    <input id="prices-list-1" type="checkbox" name="prices-list-1">
                                                    <label for="prices-list-1">All <span
                                                            class="rbt-lable count">15</span></label>
                                                </li>
                                                <li class="rbt-check-group">
                                                    <input id="prices-list-2" type="checkbox" name="prices-list-2">
                                                    <label for="prices-list-2">Free <span
                                                            class="rbt-lable count">0</span></label>
                                                </li>
                                                <li class="rbt-check-group">
                                                    <input id="prices-list-3" type="checkbox" name="prices-list-3">
                                                    <label for="prices-list-3">Paid <span
                                                            class="rbt-lable count">10</span></label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Widget Area  -->

                                <!-- Start Widget Area  -->
                                <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                                    <div class="rbt-single-widget rbt-widget-lavels">
                                        <div class="inner">
                                            <h4 class="rbt-widget-title-2">Levels</h4>
                                            <ul class="rbt-sidebar-list-wrapper lavels-list-check">
                                                <li class="rbt-check-group">
                                                    <input id="lavels-list-1" type="checkbox" name="lavels-list-1">
                                                    <label for="lavels-list-1">All Levels<span class="rbt-lable count">15</span></label>
                                                </li>
                                                <li class="rbt-check-group">
                                                    <input id="lavels-list-2" type="checkbox" name="lavels-list-2">
                                                    <label for="lavels-list-2">Beginner <span
                                                            class="rbt-lable count">0</span></label>
                                                </li>
                                                <li class="rbt-check-group">
                                                    <input id="lavels-list-3" type="checkbox" name="lavels-list-3">
                                                    <label for="lavels-list-3">Intermediate <span
                                                            class="rbt-lable count">10</span></label>
                                                </li>
                                                <li class="rbt-check-group">
                                                    <input id="lavels-list-4" type="checkbox" name="lavels-list-4">
                                                    <label for="lavels-list-4">Expert <span
                                                            class="rbt-lable count">10</span></label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Widget Area  -->

                                <!-- Start Widget Area  -->
                                <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                                    <div class="rbt-single-widget rbt-widget-features">
                                        <div class="inner">
                                            <h4 class="rbt-widget-title-2">Features</h4>
                                            <ul class="rbt-sidebar-list-wrapper features-list-check">
                                                <li class="rbt-check-group">
                                                    <input id="features-list-1" type="checkbox" name="features-list-1">
                                                    <label for="features-list-1">SubTitle<span class="rbt-lable count">15</span></label>
                                                </li>
                                                <li class="rbt-check-group">
                                                    <input id="features-list-2" type="checkbox" name="features-list-2">
                                                    <label for="features-list-2">Quizzes <span
                                                            class="rbt-lable count">0</span></label>
                                                </li>
                                                <li class="rbt-check-group">
                                                    <input id="features-list-3" type="checkbox" name="features-list-3">
                                                    <label for="features-list-3">Coding Skill <span
                                                            class="rbt-lable count">10</span></label>
                                                </li>
                                                <li class="rbt-check-group">
                                                    <input id="features-list-4" type="checkbox" name="features-list-4">
                                                    <label for="features-list-4">Practice Test <span
                                                            class="rbt-lable count">10</span></label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Widget Area  -->
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- End Course Top  -->
    </div>
</div>

<!-- Start Card Style -->
<div class="rbt-section-overlayping-top rbt-section-gapBottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="rbt-course-grid-column">

                    <th:block th:each="courseData: ${courseListData}">
                        <div class="course-grid-3">
                            <div class="rbt-card variation-01 rbt-hover">
                                <div class="rbt-card-img">
                                    <a th:href="@{'/course/single_course/' + ${courseData.crId}}">
                                        <img th:src="@{/assets/images/client/avatar-02.png}"
                                             th:data-src="'/course/img?crId='+ ${courseData.crId}"
                                             style="max-height: 295px" class="defaultCrCover" alt="Card image">

                                    </a>
                                </div>
                                <div class="rbt-card-body">


                                    <h4 class="rbt-card-title"><a
                                            th:href="@{'/course/single_course/' + ${courseData.crId}}"
                                            th:text="${courseData.crTitle}"></a>
                                    </h4>

                                    <p class="rbt-card-text" th:text="${courseData.crSubtitle}"></p>
                                    <div class="rbt-author-meta mb--10">
                                        <div class="rbt-avater">
                                            <a th:href="@{'/course_details_2'}">
                                                <img class="userHeadshot" th:data-user-id="${courseData.uId}"
                                                     alt="Coach Image">
                                                <!--   <img th:src="@{/assets/images/client/avatar-02.png}"-->
                                            </a>
                                        </div>
                                        <div class="rbt-author-info">

                                            By <span th:text="${courseData.uNickName}"></span>
                                        </div>
                                    </div>
                                    <div class="rbt-card-bottom">
                                        <div class="rbt-price">
                                            <span class="current-price" th:text="'NT$'+ ${courseData.crPrice}"></span>
                                            <!--   <span class="off-price">$120</span>-->
                                        </div>
                                        <a class="rbt-btn-link left-icon" href="javascript:void(0);"
                                           th:onclick="add2Cart([[${courseData}]]);">
                                            <i class="feather-shopping-cart"></i>加入購物車
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>
                <div class="row">
                    <div class="col-lg-12 mt--60">
                        <nav>
                            <ul class="rbt-pagination">
                                <!-- 上一頁按鈕 -->
                                <li th:if="${currentPage > 0}">
                                    <a th:href="@{/course/courses(page=${currentPage - 1},crTitle=${param.crTitle})}"
                                       aria-label="Previous">
                                        <i class="feather-chevron-left"></i></a></li>


                                <!-- 中間頁按鈕 -->
                                <th:block th:with="startPage=${currentPage - 1 > 0 ? currentPage - 1 : 0},
                                          endPage=${currentPage + 1 < totalPages -1 ? currentPage + 1 : totalPages -1}">

                                <li th:each="pageNum : ${#numbers.sequence(startPage, endPage)}"
                                    th:class="${pageNum == currentPage} ? 'active' ">
                                    <a th:href="@{/course/courses(page=${pageNum}, crTitle=${param.crTitle})}"

                                       th:text="${pageNum + 1}"></a>
                                </li>
                                </th:block>


                                <!-- 下一頁按鈕 -->
                                <li th:if="${currentPage < totalPages - 1}">
                                    <a th:href="@{/course/courses(page=${currentPage + 1},crTitle=${param.crTitle})}"
                                       aria-label="Next">
                                        <i class="feather-chevron-right"></i></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Card Style -->
<div class="rbt-separator-mid">
    <div class="container">
        <hr class="rbt-separator m-0">
    </div>
</div>
<!-- Start Footer aera -->
<div th:replace="/front-end/footer"></div>
<!-- End Footer aera -->
<div class="rbt-progress-parent">
    <svg class="rbt-back-circle svg-inner" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"/>
    </svg>
</div>

<!-- JS
============================================ -->
<!-- Modernizer JS -->
<script th:src="@{/assets/js/vendor/modernizr.min.js}"></script>
<!-- jQuery JS -->
<script th:src="@{/assets/js/vendor/jquery.js}"></script>
<!-- Bootstrap JS -->
<script th:src="@{/assets/js/vendor/bootstrap.min.js}"></script>
<!-- sal.js -->
<script th:src="@{/assets/js/vendor/sal.js}"></script>
<script th:src="@{/assets/js/vendor/swiper.js}"></script>
<script th:src="@{/assets/js/vendor/magnify.min.js}"></script>
<script th:src="@{/assets/js/vendor/jquery-appear.js}"></script>
<script th:src="@{/assets/js/vendor/odometer.js}"></script>
<script th:src="@{/assets/js/vendor/backtotop.js}"></script>
<script th:src="@{/assets/js/vendor/isotop.js}"></script>
<script th:src="@{/assets/js/vendor/imageloaded.js}"></script>

<script th:src="@{/assets/js/vendor/wow.js}"></script>
<script th:src="@{/assets/js/vendor/waypoint.min.js}"></script>
<script th:src="@{/assets/js/vendor/easypie.js}"></script>
<script th:src="@{/assets/js/vendor/text-type.js}"></script>
<script th:src="@{/assets/js/vendor/jquery-one-page-nav.js}"></script>
<script th:src="@{/assets/js/vendor/bootstrap-select.min.js}"></script>
<script th:src="@{/assets/js/vendor/jquery-ui.js}"></script>
<script th:src="@{/assets/js/vendor/magnify-popup.min.js}"></script>
<script th:src="@{/assets/js/vendor/paralax-scroll.js}"></script>
<script th:src="@{/assets/js/vendor/paralax.min.js}"></script>
<script th:src="@{/assets/js/vendor/countdown.js}"></script>
<script th:src="@{/assets/js/vendor/plyr.js}"></script>
<!-- Main JS -->
<script th:src="@{/assets/js/main.js}"></script>


<script>
    // 加入購物車
    const add2Cart = (courseData) => {
        let crId = courseData.crId;

        fetch('/cart/add', {
            method: 'POST',
            body: crId,
            headers: {
                "content-type": "application/json",
            }
        }).then((res) => {
            if (res.redirected) {
                window.location.href = res.url;
            }
            if (res.status === 401) {
                // 未登入回到登入頁面
                alert('請先登入！')
                window.location.href = '/user/force_user_login';
            } else {
                return res.text();
            }
        }).then((data) => {
            if (data === '您已擁有該課程！') {
                alert(data);
            } else if (data === '成功添加至購物車！')
                console.log(data);
        }).catch((error) => {
            console.error("發生錯誤:" + error);
        });
        // getCartItems();
    }


    // userRestController getUserHeadshot
    $(document).ready(function () {
        let userIdList = [];

        $('.userHeadshot').each(function () {
            let data = $(this).data('user-id');

            // fetch 可以直接處理二進制資料(如blob)
            fetch('/user_api/user_headshot_test', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({u_id: data}),
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('response error');
                    }
                    return response.blob();
                })
                .then(blob => {
                    let image_Url = URL.createObjectURL(blob);

                    $(this).attr('src', image_Url);
                })
                .catch(error => {
                    console.error('找不到user image:', error);
                    $(this).attr('src', '/assets/images/client/avatar-02.png');
                });
        });
    });

    // 加載圖片
    $(document).ready(function () {
        $('.defaultCrCover').each(function () {
            const realSrc = $(this).data('src');
            const image = new Image();
            image.onload = () => {
                $(this).attr('src', realSrc);
            };
            image.onerror = () => {
                console.log('圖片加載失敗')
            };
            image.src = realSrc

        })
    })

    // 排序選擇
    $(document).ready(function () {
        $('#sortSelect').on('change', function () {
            let selectedOption = $(this).val();
            let crTitle = $('.searchBar').val();
            let  url = '/course/courses';

            if (selectedOption === "價格 由低至高"){
                selectedOption = 1;
                url += "?priceSort=" + selectedOption;
            }else if(selectedOption === "價格 由高至低") {
                selectedOption = 2;
                url += "?priceSort=" + selectedOption;
            }else if (selectedOption === "預設"){
                selectedOption = 0;
                url+="?"

            }

            if (crTitle){
                url +='&crTitle='+crTitle
            }

            window.location.href = url;

        })
    })

    // 重新加載時
    $(document).ready(function () {
        // 解析 URL，獲取選項值
        let params = new URLSearchParams(window.location.search);

        let selectedOption = params.get('priceSort');
        let crTitle = params.get('crTitle');


        // 設置對應的選項為選中狀態
        if (selectedOption === "1"){
            $('.filter-option-inner-inner').text("價格 由低至高");
        }else if (selectedOption === "2"){
            $('.filter-option-inner-inner').text("價格 由高至低");
        }

        if (crTitle){
            $('.searchBar').val(crTitle);
        }

    });

</script>
</body>

</html>