








<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>員工資料新增 - addEmp.html</title>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fitanywhere-add social post</title>
</head>
<style type="text/css">
	
	button {
		padding: 5px;
	}
	form {
		display: table;
	}
	form div {
		display: table-row;
	}
	label, input, span, select {
		display: table-cell;
		margin: 5px;
		text-align: left;		
	}
	input[type=text], input[type=password], select, textarea {
		width: 200px;
		margin: 5px;
	}
	form div div {
		display: table-cell;
	}
	.center {
        margin-left: auto;
        margin-right: auto;
    }
</style>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top justify-content-center">
		 <div align="center"> <h2>社群貼文新增 - add_socialpost.html</h2>
		 <h3><a class="navbar-brand" th:href="@{/socialpost/add_socialpost}"><img th:src="@{/images/back1.gif}">回查詢頁</a></h3></div>
</nav>

	<div align="center">
		<h3><b>所有欄位皆為必填欄位</b></h3>
		<form th:action="@{insert}" method="post" th:object="${socialPostVO}" enctype="multipart/form-data">
			
			
			
<!-- 			<div> -->
<!-- 			<label>會員:</label> -->
<!-- 			<select th:field="*{userVO.uId}"> -->
<!-- 				<option th:each="userVO : ${userListData}" th:value="${userVO.uId}" th:text="${userVO.uName}" /> -->
<!-- 			</select> -->
<!-- 			<span th:if="${#fields.hasErrors('userVO.uId')}" th:errors="*{userVO.uId}" class="error" id="userVO.uId.errors"></span> -->
<!-- 			</div> -->
			
			<div>
			<label>會員:</label>
			<select th:field="*{uId}">
				<option th:each="socialPostVO : ${socialPostListData}" th:value="${socialPostVO.uId}" th:text="${socialPostVO.uId}" />
			</select>
			<span th:if="${#fields.hasErrors('uId')}" th:errors="*{uId}" class="error" id="uId.errors"></span>
			</div>
			
			
			<div>
			<label>社群分類:</label>
			<input type="text" th:field="*{spcategory}" onclick="hideContent('spcategory.errors');" /><br/>
			<span  th:if="${#fields.hasErrors('spcategory')}" th:errors="*{spcategory}" class="error" id="spcategory.errors"></span>
			</div>
			
			
			<div>
			<label>貼文時間:</label>
			<input type="text" th:field="*{sptime}" onclick="hideContent('sptime.errors');" /><br/>
			<span  th:if="${#fields.hasErrors('sptime')}" th:errors="*{sptime}" class="error" id="sptime.errors"></span>
			</div>
			
			<div>
			<label>更新時間:</label>
			<input type="text" th:field="*{spupdated}" onclick="hideContent('spupdated.errors');" /><br/>
			<span  th:if="${#fields.hasErrors('spupdated')}" th:errors="*{spupdated}" class="error" id="spupdated.errors"></span>
			</div>
			
			<div>
			<label>貼文狀態:</label>
			<input type="text" th:field="*{spstatus}" onclick="hideContent('spstatus.errors');" /><br/>
			<span  th:if="${#fields.hasErrors('spstatus')}" th:errors="*{spstatus}" class="error" id="spstatus.errors"></span>
			</div>
			
			
			
			<div>
			<label>貼文標題:</label>
			<input type="text" th:field="*{sptitle}" onclick="hideContent('sptitle.errors');" /><br/>
			<span  th:if="${#fields.hasErrors('sptitle')}" th:errors="*{job}" class="error" id="job.errors"></span>
			</div>
			
			<div>
			<label>貼文內容:</label>
			<input type="text" th:field="*{spcontent}" onclick="hideContent('spcontent.errors');" /><br/>
			<span  th:if="${#fields.hasErrors('spcontent')}" th:errors="*{spcontent}" class="error" id="comm.errors"></span>
			</div>
			

			
			<div>
			<label>照片:</label>
			<input type="file" th:field="*{sppic}" onclick="previewImage()" multiple="multiple" onchange="hideContent('sppic.errors');" />
<!-- 			<span  th:if="${#fields.hasErrors('upFiles')}" th:errors="*{upFiles}" class="error" id="upFiles.errors"></span> -->
			<span class="error" th:utext="${errorMessage}" id="sppic.errors">${errorMessage}</span>
<!-- 			<h2 id="errorMessage">${errorMessage}</h2>  -->
			<div id="blob_holder"></div>
			</div>
			
			<div>
				<div></div>
				<div><button type="submit" id="submit"> 送出新增 </button></div>
				<div></div>
			</div>		
		</form>
	
	</div>


<!-- JavaScript part -->
<script type="text/javascript">
//清除提示信息
function hideContent(d) {
     document.getElementById(d).style.display = "none";
}

//照片上傳-預覽用
var filereader_support = typeof FileReader != 'undefined';
if (!filereader_support) {
	alert("No FileReader support");
}
acceptedTypes = {
		'image/png' : true,
		'image/jpeg' : true,
		'image/gif' : true
};
function previewImage() {
	var upfile1 = document.getElementById("sppic");
	upfile1.addEventListener("change", function(event) {
		var files = event.target.files || event.dataTransfer.files;
		for (var i = 0; i < files.length; i++) {
			previewfile(files[i])
		}
	}, false);
}
function previewfile(file) {
	if (filereader_support === true && acceptedTypes[file.type] === true) {
		var reader = new FileReader();
		reader.onload = function(event) {
			var image = new Image();
			image.src = event.target.result;
			image.width = 100;
			image.height = 75;
			image.border = 2;
			if (blob_holder.hasChildNodes()) {
				blob_holder.removeChild(blob_holder.childNodes[0]);
			}
			blob_holder.appendChild(image);
		};
		reader.readAsDataURL(file);
		document.getElementById('submit').disabled = false;
	} else {
		blob_holder.innerHTML = "<div  style='text-align: left;'>" + "● filename: " + file.name
				+ "<br>" + "● ContentTyp: " + file.type
				+ "<br>" + "● size: " + file.size + "bytes"
				+ "<br>" + "● 上傳ContentType限制: <b> <font color=red>image/png、image/jpeg、image/gif </font></b></div>";
		document.getElementById('submit').disabled = true;
	}
}
</script>

</body>
</html>