<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{/front-end/included-head}"></head>

<body class="rbt-header-sticky">
	<header th:replace="front-end/header.html"></header>
	<div th:insert="front-end/header_moblie.html"></div>


	<a class="close_side_menu" href="javascript:void(0);"></a>
	<div class="rbt-page-banner-wrapper">

		<div class="rbt-banner-image"></div>

	</div>

	<div
		class="rbt-dashboard-area rbt-section-overlayping-top rbt-section-gapBottom">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">




					<div class="row g-5">
						<div class="col-lg-3">


							<div
								class="rbt-default-sidebar sticky-top rbt-shadow-box rbt-gradient-border">
								<div class="thumbnail rbt-avatars size-lg">
									<img
										th:src="@{/socialpost/UserPhotoDBGifReader} + '?uId=' + ${userVO.uId}"
										alt="Instructor" style="position: relative;">
									<div class="Emoji">
										<img
											th:src="@{/socialpost/MoodDBGifReader} + '?uId=' + ${userVO.uId}"
											alt="mood-Emoji"
											style="height: 4rem; width: 4rem; position: absolute; right: 0; bottom: 0.5rem">

									</div>
								</div>
								<div class="inner">
									<div class="content-item-content">

										<div class="rbt-default-sidebar-wrapper">
											<div class="section-title mb--20">
												<h6 class="rbt-title-style-2"
													th:text="Welcome + ${userVO.uNickname}">Welcome, Mok</h6>
											</div>
											<nav class="mainmenu-nav">
												<ul class="dashboard-mainmenu rbt-default-sidebar-list">
													<li><a href="student-dashboard.html"><i
															class="feather-home"></i><span>用戶目錄</span></a></li>
													<li><a href="student-news.html"><i
															class="feather-shopping-bag"></i><span>最新消息</span></a></li>
													<li><a href="student-profile.html"><i
															class="feather-user"></i><span>會員資料修改</span></a></li>
													<li><a href="student-enrolled-courses.html"><i
															class="feather-book-open"></i><span>我的課程</span></a></li>
													<li><a href="student-wishlist.html"><i
															class="feather-bookmark"></i><span>我的收藏</span></a></li>
													<li><a href="student-reviews.html"><i
															class="feather-star"></i><span>我的歷史瀏覽紀錄</span></a></li>
													<li><div class="tutor-btn">
															<a class="rbt-btn btn-md hover-icon-reverse" href="#">
																<span class="icon-reverse-wrapper"> <span
																	class="btn-text">教練模式</span> <span class="btn-icon"><i
																		class="feather-arrow-right"></i></span> <span
																	class="btn-icon"><i class="feather-arrow-right"></i></span>
															</span>
															</a>
														</div></li>
												</ul>
											</nav>
										</div>
									</div>
								</div>
							</div>

						</div>

						<div class="col-lg-9">
							<div class="rbt-dashboard-content ">

								<div class="input-wrapper">
									<input type="text" placeholder="搜尋其他用戶"
										class="search-member-social"> <img
										th:src="@{/images/search.png}" alt="" class="search-icon">
								</div>
								<!-- 								<ul> -->
								<!-- 									<li th:each="user : ${matchingUsers}"><span -->
								<!-- 										th:text="${user.uNickname}"></span></li> -->
								<!-- 								</ul> -->

								<div class="search-result" th:if="${matchingUsers != null and not #lists.isEmpty(matchingUsers)}">
									<div class="search-result-list-one"
										th:each="user : ${matchingUsers}">
										<img
											th:src="@{/socialpost/UserPhotoDBGifReader} + '?uId=' + ${user.uId}"
											alt="">
										<a th:href="@{'/socialpost/nav_to_social_member/' + ${user.uId}}"><p th:text="${user.uNickname}">王小明</p></a>
										<span th:text="${user.uId}" class="user-uid"></span>
									</div>

								</div>
								<div class="content-social-post">
									<div class="content-inner">
										<div class="user-section-title">
											<span th:text="${userShowPostVO.uId}" class="uid-for-send"></span>
											<div id="article">
												<img
													th:src="@{/socialpost/UserPhotoDBGifReader} + '?uId=' + ${userShowPostVO.uId}"
													alt="">
											</div>
											<div id="article member-col">
												<h4 class="article-relese-num"
													style="display: flex; justify-content: center; padding-top: 2rem; margin-top: 2rem; margin-bottom: 0;">2</h4>
												<h4 class="rbt-title-style-3"
													style="padding-top: 2rem; padding-bottom: 0;">文章</h4>
											</div>
											<div id="post member-col">
												<h4 class="post-num"
													style="display: flex; justify-content: center; padding-top: 2rem; margin-top: 2rem; margin-bottom: 0;"
													th:text="${#lists.size(userVO.socialposts.?[spstatus == 1])}">a</h4>
												<h4 class="rbt-title-style-3"
													style="padding-top: 2rem; padding-bottom: 0;">個人貼文</h4>
											</div>
											<div id="subscribe member-col">
												<h4 class="subscribe-num"
													style="display: flex; justify-content: center; padding-top: 2rem; margin-top: 2rem; margin-bottom: 0;">30</h4>
												<h4 class="rbt-title-style-3"
													style="padding-top: 2rem; padding-bottom: 0;">訂閱</h4>
											</div>
										</div>

									</div>


								</div>

								<div class="row g-5 member-post">


									<input type="text" placeholder="在想甚麼呢?"
										class="member-post-input" th:if="${#strings.isEmpty(navUId)}">

									<p class="add-post" th:if="${#strings.isEmpty(navUId)}">新增貼文</p>




									<div id="lightbox" class="none lightbox-add-post">
										<form th:action="@{insert}" method="post"
											th:object="${socialPostVO}" enctype="multipart/form-data">
											<article>
												<div class="article-inner-wrapper">
													<h2>建立貼文</h2>
													<div class="member-post-socialpost">
														<img th:src="@{/images/member-3.png}" alt="">
														<p th:text="${userVO.uNickname}" th:value="${userVO.uId}">振宇</p>
														<input type="hidden" name="userId"
															th:value="${userVO.uId}" th:field="*{userVO.uId}" />
													</div>

													<textarea name="" id="" cols="30" rows="10"
														placeholder="在想些甚麼呢" class="post-draft"
														th:field="*{spcontent}"></textarea>
													<div class="course-field mb--20">

														<div class="rbt-create-course-thumbnail upload-area">
															<div class="upload-area">
																<div class="brows-file-wrapper" data-black-overlay="9">
																	<!-- actual upload which is hidden -->
																	<input name="createinputfile" id="createinputfile"
																		type="file" class="inputfile" th:field="*{sppic}" />
																	<img id="createfileImage"
																		src="@{/images/others/thumbnail-placeholder.svg"
																		alt="file image">
																	<!-- our custom upload button -->
																	<label class="d-flex" for="createinputfile"
																		title="No File Choosen"> <i
																		class="feather-upload"></i> <span class="text-center">Choose
																			a File</span>
																	</label>
																</div>
															</div>
														</div>

														<!-- <small><i class="feather-info"></i> <b>Size:</b> 700x430 pixels, <b>File
                                                        Support:</b> JPG, JPEG, PNG, GIF, WEBP</small> -->
													</div>
													<div class="feed-back-button">
														<button type="submit" class="confirm">發布</button>
														<button type="button" class="btn_model_close">取消</button>
													</div>
												</div>
											</article>
										</form>
									</div>


								</div>
							</div>
							<span th:if="${navUId != null}" th:text="${navUId}" class="navUId">aaa</span>
<!-- 							<span th:if="${#strings.isEmpty(navUId)}" >測試字 - 新增貼文</span> -->
							<div th:each="socialPost : ${userShowPostVO.socialposts}"
								th:if="${socialPost.spstatus == 1}">
								
								<div class="article-post">
									<div class="title">
										<div class="title-info-wrapper">
											<img
												th:src="@{/socialpost/UserPhotoDBGifReader} + '?uId=' + ${userShowPostVO.uId}"
												alt="">

											<div class="title-info">
												<p th:text="${userShowPostVO.uNickname}"></p>
												<p
													th:text="${#dates.format(socialPost.sptime, 'yyyy年MM月dd日')}"></p>
											</div>
										</div>
										<div class="button-container">
											<img th:src="@{/images/social-edit.png}" alt="" class="edit" th:if="${#strings.isEmpty(navUId)}">
											<img th:src="@{/images/social-delete.png}" th:if="${#strings.isEmpty(navUId)}" alt=""
												class="delete-socialpost">
										</div>
									</div>

									<div class="post-content">
									
										<p th:text="${socialPost.spid}" class="spid"></p>
										<p th:text="${socialPost.sptitle}">title</p>
										<p th:text="${socialPost.spcontent}">content</p>
										<img
											th:src="@{/socialpost/DBGifReader} + '?spid=' + ${socialPost.spid}"
											alt=""> 
										<input type="text" class="social-reply-input"
											placeholder="留言...">
										<div class="social-reply"
											th:each="socialReply : ${socialPost.socialReplys}" th:if="${socialPost.socialReplys != null and not #lists.isEmpty(socialPost.socialReplys)}">
											<div class="reply-member">
												<img th:src="@{/images/member-3.png}" alt="">
												<div class="reply-name-text">
													<p class="member-nickname"
														th:text="${socialReply.userVO?.uNickname}"  th:if="${socialPost.socialReplys != null and not #lists.isEmpty(socialPost.socialReplys)}">>怡蓉老師</p>
													<p class="reply-time">10分鐘</p>
												</div>
											</div>
											<div class="reply-content" th:text="${socialReply.srContent}"  th:if="${socialPost.socialReplys != null and not #lists.isEmpty(socialPost.socialReplys)}">>
												<p>同學有人在嘛</p>
											</div>

										</div>
									</div>
									<div class="post-content-edit">
										<form th:action="@{update_social_post}" method="post"
											enctype="multipart/form-data">
											<textarea name="spcontent" id="spcontent_textarea" cols="30"
												rows="10" th:value="${socialPost.spcontent}"></textarea>


											<input type="hidden" name="spid"
												th:value="${socialPost.spid}"> <input type="file"
												name="sppic" th:value="${socialPost.sppic}">
											<div class="member-detail-row-button edit-social-post-button">

												<button type="submit"
													class="edit-socialpost edit-socialpost-confirm">確認</button>
												<button type="button"
													class="edit-socialpost edit-socialpost-cancel">取消</button>

											</div>
										</form>
									</div>
								</div>


							</div>
						</div>


					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Card Style -->
	<div class="rbt-separator-mid">
		<div class="container">
			<hr class="rbt-separator m-0">
		</div>
	</div>
	<!-- Start Footer aera -->

	<footer th:replace="front-end/footer.html"></footer>


	<!-- End Footer aera -->
	<div class="rbt-progress-parent">
		<svg class="rbt-back-circle svg-inner" width="100%" height="100%"
			viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
	</div>

	<!-- JS
============================================ -->
	<!-- Modernizer JS -->
	<script th:src="@{/js/vendor/modernizr.min.js}"></script>
	<!-- jQuery JS -->
	<script th:src="@{/js/vendor/jquery.js}"></script>
	<!-- Bootstrap JS -->
	<script th:src="@{/js/vendor/bootstrap.min.js}"></script>
	<!-- sal.js -->
	<script th:src="@{/js/vendor/sal.js}"></script>
	<script th:src="@{/js/vendor/swiper.js}"></script>
	<script th:src="@{/js/vendor/magnify.min.js}"></script>
	<script th:src="@{/js/vendor/jquery-appear.js}"></script>
	<script th:src="@{/js/vendor/odometer.js}"></script>
	<script th:src="@{/js/vendor/backtotop.js}"></script>
	<script th:src="@{/js/vendor/isotop.js}"></script>
	<script th:src="@{/js/vendor/imageloaded.js}"></script>

	<script th:src="@{/js/vendor/wow.js}"></script>
	<script th:src="@{/js/vendor/waypoint.min.js}"></script>
	<script th:src="@{/js/vendor/easypie.js}"></script>
	<script th:src="@{/js/vendor/text-type.js}"></script>
	<script th:src="@{/js/vendor/jquery-one-page-nav.js}"></script>
	<script th:src="@{/js/vendor/bootstrap-select.min.js}"></script>
	<script th:src="@{/js/vendor/jquery-ui.js}"></script>
	<script th:src="@{/js/vendor/magnify-popup.min.js}"></script>
	<script th:src="@{/js/vendor/paralax-scroll.js}"></script>
	<script th:src="@{/js/vendor/paralax.min.js}"></script>
	<script th:src="@{/js/vendor/countdown.js}"></script>
	<script th:src="@{/js/vendor/plyr.js}"></script>
	<!-- Main JS -->
	<script th:src="@{/js/main.js}"></script>
	<script th:src="@{/js/social_post.js}"></script>
	<script th:src="@{/js/mok/mok_opinion.js}"></script>
</body>

</html>