<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Student Dashboard - Online Courses & Education Bootstrap5 Template</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- 加入tinymce做貼文發布文字欄 -->
    <script src="./tinymce_6.8.2/tinymce/js/tinymce/tinymce.min.js}"></script>
    <script>
        tinymce.init({
          selector: '#mytextarea',
          plugins: "autoresize"

        });
        </script>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="@{/images/favicon.png}">

    <!-- CSS
	============================================ -->
    <link rel="stylesheet" th:href="@{/css/vendor/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/vendor/slick.css}">
    <link rel="stylesheet" th:href="@{/css/vendor/slick-theme.css}">
    <link rel="stylesheet" th:href="@{/css/plugins/sal.css}">
    <link rel="stylesheet" th:href="@{/css/plugins/feather.css}">
    <link rel="stylesheet" th:href="@{/css/plugins/fontawesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/plugins/euclid-circulara.css}">
    <link rel="stylesheet" th:href="@{/css/plugins/swiper.css}">
    <link rel="stylesheet" th:href="@{/css/plugins/magnify.css}">
    <link rel="stylesheet" th:href="@{/css/plugins/odometer.css}">
    <link rel="stylesheet" th:href="@{/css/plugins/animation.css}">
    <link rel="stylesheet" th:href="@{/css/plugins/bootstrap-select.min.css}">
    <link rel="stylesheet" th:href="@{/css/plugins/jquery-ui.css}">
    <link rel="stylesheet" th:href="@{/css/plugins/magnigy-popup.min.css}">
    <link rel="stylesheet" th:href="@{/css/plugins/plyr.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/style_add.css}">
    <link rel="stylesheet" th:href="@{/css/student_dashboard_2.css}">
    <link rel="stylesheet" th:href="@{/css/mok/mok_opinion.css}">

</head>

<body>
    <!-- Start Header Area -->
    <header class="rbt-header rbt-header-10">
        <div class="rbt-sticky-placeholder"></div>
        <div class="rbt-header-wrapper header-space-betwween header-transparent header-sticky">
            <div class="container-fluid">
                <div class="mainbar-row rbt-navigation-start align-items-center">
                    <div class="header-left rbt-header-content">
                        <div class="header-info">
                            <div class="logo">
                                <a href="index.html">
                                    <img th:src="@{/images/logo/fitanywherelogo.png}" alt="Education Logo Images">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="rbt-main-navigation d-none d-xl-block">
                        <nav class="mainmenu-nav">
                            <ul class="mainmenu">
                                <li class="with-megamenu has-menu-child-item position-static mainmenu-sub not-hamber">
                                    <a href="#">TDEE / FFMI計算公式</a>
                                </li>

                                <li class="with-megamenu has-menu-child-item mainmenu-sub not-hamber">
                                    <a href="./g2-blog-list.html">討論區</a>
                                </li>

                                <li class="has-dropdown has-menu-child-item mainmenu-sub not-hamber">
                                    <a href="./student-dashboard.html">會員中心</a>
                                </li>

                                <li class="with-megamenu has-menu-child-item position-static mainmenu-sub not-hamber">
                                    <a href="./g2-02-course-school.html">線上課程<i class="feather-chevron-down"></i></a>
                                </li>

                                <li class="not-hamber"><a href=""><img th:src="@{/images/bell.png}" alt=""></a></li>
                                <li class="not-hamber"><a href="./g2-cart.html"><img th:src="@{/images/cart.png}" alt=""></a></li>
                                <li class="not-hamber">
                                    <a href="" class="button_model feed_back">
                                        <img th:src="@{/images/mail.png}" alt="">
                                    </a>
                                    <!-- 燈箱 -->
                                    <div id="lightbox" class="none"> 
										<form th:action="@{insert}" method="post" th:object="${socialPostVO}" enctype="multipart/form-data">
                                        <article>
                                            <div class="article-inner-wrapper">
                                                <h2>建立貼文</h2>
                                                <div class="member-post-socialpost">
                                                    <img th:src="@{/images/member-3.png}" alt="">
                                                    <p th:text="${userVO.uNickname}" th:value="${userVO.uId}" >振宇</p>
                                                     <input type="hidden" name="userId" th:value="${userVO.uId}" th:field="*{userVO.uId}"/>
                                                </div>

                                                <textarea name="" id="" cols="30" rows="10" placeholder="在想些甚麼呢" class="post-draft" th:field="*{spcontent}"></textarea>
                                                <div class="course-field mb--20">
                                                    
                                                    <div class="rbt-create-course-thumbnail upload-area">
                                                        <div class="upload-area">
                                                            <div class="brows-file-wrapper" data-black-overlay="9">
                                                                <!-- actual upload which is hidden -->
                                                                <input name="createinputfile" id="createinputfile" type="file" class="inputfile" th:field="*{sppic}"/>
                                                                <img id="createfileImage" src="@{/images/others/thumbnail-placeholder.svg" alt="file image">
                                                                <!-- our custom upload button -->
                                                                <label class="d-flex" for="createinputfile" title="No File Choosen">
                                                                    <i class="feather-upload"></i>
                                                                    <span class="text-center">Choose a File</span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- <small><i class="feather-info"></i> <b>Size:</b> 700x430 pixels, <b>File
                                                        Support:</b> JPG, JPEG, PNG, GIF, WEBP</small> -->
                                                </div>
                                                <div class="feed-back-button">
                                                    <button type="submit"  class="confirm">發布</button>
                                                    <button type="button" class="btn_model_close">取消</button>
                                                </div>
                                            </div>
                                        </article>
                                        </form>
                                    </div>
                                </li>    
                                <li class="with-megamenu has-menu-child-item position-static mainmenu-sub not-hamber">
                                    <a href="./g2-register.html">登入 / 註冊</a>
                                </li>
                                <li class="hamber">
                                    <div class="hamberger">
                                        <button class="hamberger-button rbt-round-btn">
                                            <i class="feather-menu"></i>
                                        </button>
                                    </div>
                                </li>
                                                             
                            </ul>
                        </nav>
                    </div>


                </div>
            </div>
        </div>
    </header>

    <!-- Start Side Vav -->

    <!-- End Side Vav -->
    <a class="close_side_menu" href="javascript:void(0);"></a>
    <div class="rbt-page-banner-wrapper">
        <!-- Start Banner BG Image  -->
        <div class="rbt-banner-image"></div>
        <!-- End Banner BG Image  -->
    </div>
    <!-- Start Card Style -->
    <div class="rbt-dashboard-area rbt-section-overlayping-top rbt-section-gapBottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Start Dashboard Top  -->
                    
                    <!-- End Dashboard Top  -->

                    <div class="row g-5">
                        <div class="col-lg-3">
                            <!-- Start Dashboard Sidebar  -->
                            
                            <div class="rbt-default-sidebar sticky-top rbt-shadow-box rbt-gradient-border">
                                <div class="thumbnail rbt-avatars size-lg">
                                    <img th:src="@{/images/member.png}" alt="Instructor"  style="position: relative;">
                                    <div class="Emoji">
                                        <img th:src="@{/socialpost/MoodDBGifReader} + '?uId=' + ${userVO.uId}" alt="mood-Emoji" style="height: 4rem; width: 4rem; position: absolute; right: 0; bottom: 0.5rem"> 
                                        
                                    </div>
                                </div>
                                <div class="inner">
                                    <div class="content-item-content">

                                        <div class="rbt-default-sidebar-wrapper">
                                            <div class="section-title mb--20">
                                                <h6 class="rbt-title-style-2" th:text="Welcome + ${userVO.uNickname}">Welcome, Mok </h6>
                                            </div>
                                            <nav class="mainmenu-nav">
                                                <ul class="dashboard-mainmenu rbt-default-sidebar-list">
                                                    <li><a href="student-dashboard.html"><i
                                                                class="feather-home"></i><span>用戶目錄</span></a></li>
                                                    <li><a href="student-news.html"><i
                                                                class="feather-shopping-bag"></i><span>最新消息</span></a>
                                                    </li>
                                                    <li><a href="student-profile.html"><i
                                                                class="feather-user"></i><span>會員資料修改</span></a></li>
                                                    <li><a href="student-enrolled-courses.html"><i
                                                                class="feather-book-open"></i><span>我的課程</span></a></li>
                                                    <li><a href="student-wishlist.html"><i
                                                                class="feather-bookmark"></i><span>我的收藏</span></a></li>
                                                    <li><a href="student-reviews.html"><i
                                                                class="feather-star"></i><span>我的歷史瀏覽紀錄</span></a></li>
                                                    <li><div class="tutor-btn">
                                                        <a class="rbt-btn btn-md hover-icon-reverse" href="#">
                                                            <span class="icon-reverse-wrapper">
                                                                <span class="btn-text">教練模式</span>
                                                                <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                                                <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                                            </span>
                                                        </a>
                                                    </div></li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Dashboard Sidebar  -->
                        </div>

                        <div class="col-lg-9">
                            <div class="rbt-dashboard-content ">
                                
                                <div class="input-wrapper">
                                    <input type="text" placeholder="搜尋其他用戶">
                                    <img th:src="@{/images/search.png}" alt="" class="search-icon">
                                </div>

                                <div class="content">
                                    <div class="content-inner">
                                        <div class="user-section-title">
                                            
                                            <div id="article">
                                                <img th:src="@{/images/member.png}" alt="">
                                            </div>
                                            <div id="article member-col">
                                                <h4 class="article-relese-num" style="display:flex; justify-content: center; 
                                                padding-top:2rem;margin-top: 2rem;margin-bottom: 0;">2</h4>
                                                <h4 class="rbt-title-style-3" style="padding-top:2rem; padding-bottom: 0;">
                                                    文章</h4>
                                            </div>
                                            <div id="post member-col">
                                                <h4 class="post-num" style="display:flex; justify-content: center; 
                                                padding-top:2rem;margin-top: 2rem;margin-bottom: 0;" th:text="${#lists.size(userVO.socialposts)}">a</h4>
                                                <h4 class="rbt-title-style-3" style="padding-top:2rem; padding-bottom: 0;">個人貼文</h4>
                                            </div>
                                            <div id="subscribe member-col">
                                                <h4 class="subscribe-num" style="display:flex; justify-content: center; 
                                                padding-top:2rem;margin-top: 2rem;margin-bottom: 0;">30</h4>
                                                <h4 class="rbt-title-style-3" style="padding-top:2rem; padding-bottom: 0;">訂閱</h4>
                                            </div>
                                        </div>

                                    </div>

                                    
                                </div>

                                <div class="row g-5 member-post">
                                        
                                    <!-- <form method="post" style=" padding-top: 3rem;"> -->
                                        <input type="text" placeholder="在想甚麼呢?" class="member-post-input">
                                        <!-- <textarea id="mytextarea">在想甚麼呢?</textarea> -->
                                        <p class="add-post">新增貼文</p>
                                    <!-- </form> -->
                                    
                                    <div id="lightbox" class="none"> 
                                    
                                    	<form th:action="@{insert}" method="post" th:object="${socialPostVO}" enctype="multipart/form-data">

                                        <article>
                                            <div class="article-inner-wrapper">
                                                <h1>建立貼文</h1>

                                                
                                                <div class="user-name">
                                                    <img th:src="@{/images/member-3.png}" alt="">
                                                    <p>振宇</p>
                                                </div>

                                                <div class="user-post-content">
                                                    <textarea name="" id="" cols="30" rows="10" placeholder="在想些甚麼呢"></textarea>
                                                </div>

                                                <input type="file">

                                                <div class="feed-back-button">
                                                    <button type="button"  class="confirm">確認</button>
                                                    <button type="button" class="btn_model_close">取消</button>
                                                </div>
                                            </div>
                                        </article>
                                        
                                        </form>
                                    </div>


                                </div>
                            </div>
<div th:each="socialPost : ${userVO.socialposts}">
                            <div class="article-post">
                                <div class="title">
                                    <div class="title-info-wrapper">
                                        <img th:src="@{/images/member-2.png}" alt="">
                                        
                                        <div class="title-info">
                                            <p th:text="${userVO.uNickname}">振宇健身房</p>
                                            <p th:text="${#dates.format(socialPost.sptime, 'yyyy年MM月dd日')}">2023年8月1日</p>
                                        </div>
                                    </div>
									<div class="button-container">
	                                    <img th:src="@{/images/social-edit.png}" alt="" class="edit">
	     								<img th:src="@{/images/social-delete.png}" alt="" class="delete-socialpost">
     								</div>
                                </div>
								
                                <div class="post-content">
                                    <p th:text="${socialPost.sptitle}">title</p>
                                    <p th:text="${socialPost.spcontent}">content</p>
                                    <img th:src="@{/socialpost/DBGifReader} + '?spid=' + ${socialPost.spid}" alt="" >
                                </div>
                                <div class="post-content-edit">
                                    <form th:action="@{update_social_post}"  method="post"  enctype="multipart/form-data">
                                        <textarea name="spcontent" id="spcontent_textarea" cols="30" rows="10" th:value="${socialPost.spcontent}"></textarea>
                                        

										<input type="hidden" name="spid" th:value="${socialPost.spid}">
										<input type="file" name="sppic" th:value="${socialPost.sppic}">
                                        <div class="member-detail-row-button edit-social-post-button">

                                            <button type="submit"  class="edit-socialpost edit-socialpost-confirm">確認</button>
                                            <button type="button" class="edit-socialpost edit-socialpost-cancel">取消</button>
                                            
                                        </div>
                                    </form>
                                </div>
                            </div>
                            
                            
</div>
                        </div>

                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Card Style -->
    <div class="rbt-separator-mid">
        <div class="container">
            <hr class="rbt-separator m-0">
        </div>
    </div>
    <!-- Start Footer aera -->
   
    <div class="copyright-area copyright-style-1 ptb--20 bg-color-darker g2_footer">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12">
                    <p class="rbt-link-hover text-center color-white-off">Fit AnyWhere© </p>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer aera -->
    <div class="rbt-progress-parent">
        <svg class="rbt-back-circle svg-inner" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>

    <!-- JS
============================================ -->
    <!-- Modernizer JS -->
    <script th:src="@{/js/vendor/modernizr.min.js}"></script>
    <!-- jQuery JS -->
    <script th:src="@{/js/vendor/jquery.js}"></script>
    <!-- Bootstrap JS -->
    <script th:src="@{/js/vendor/bootstrap.min.js}"></script>
    <!-- sal.js -->
    <script th:src="@{/js/vendor/sal.js}"></script>
    <script th:src="@{/js/vendor/swiper.js}"></script>
    <script th:src="@{/js/vendor/magnify.min.js}"></script>
    <script th:src="@{/js/vendor/jquery-appear.js}"></script>
    <script th:src="@{/js/vendor/odometer.js}"></script>
    <script th:src="@{/js/vendor/backtotop.js}"></script>
    <script th:src="@{/js/vendor/isotop.js}"></script>
    <script th:src="@{/js/vendor/imageloaded.js}"></script>

    <script th:src="@{/js/vendor/wow.js}"></script>
    <script th:src="@{/js/vendor/waypoint.min.js}"></script>
    <script th:src="@{/js/vendor/easypie.js}"></script>
    <script th:src="@{/js/vendor/text-type.js}"></script>
    <script th:src="@{/js/vendor/jquery-one-page-nav.js}"></script>
    <script th:src="@{/js/vendor/bootstrap-select.min.js}"></script>
    <script th:src="@{/js/vendor/jquery-ui.js}"></script>
    <script th:src="@{/js/vendor/magnify-popup.min.js}"></script>
    <script th:src="@{/js/vendor/paralax-scroll.js}"></script>
    <script th:src="@{/js/vendor/paralax.min.js}"></script>
    <script th:src="@{/js/vendor/countdown.js}"></script>
    <script th:src="@{/js/vendor/plyr.js}"></script>
    <!-- Main JS -->
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/social_post.js}"></script>
</body>

</html>