.error-page-area{
    .inner-text{
        padding-top: 30px;
        padding-bottom: 94px;
        background: #FFF7F5;
        border-radius: 4px;
        .large-text{
            font-weight: 800;
            font-size: 144px;
            line-height: 197px;
            margin-bottom: 6px;
        }
        .title{
            font-size: 36px;
            line-height: 49px;
        }
        .back-to-btn{
            margin-bottom: 20px;
        }
        .help-center-link{
            font-weight: 500;
            font-size: 16px;
            line-height: 28px;

        }
    }
}