.list-view-course{
    background-color: var(--color-light);
    .grid-box{
        margin-bottom: 60px;
        .single-grid-box{
            background-color: var(--color-white);
            padding: 20px 30px;
            border-radius: 6px;
            position: relative;
            line-height: 15px;
            width: 100%;
            font-size: 16px;
            border: none;
            color: var(--color-heading);
            font-weight: 500;
            select{
                border: none;
                width: 100%;
                outline: none;
            }
        }
    }
}