/*------------------------
    Shop Styles  
--------------------------*/
.filter-select {
    select {
        border: 0 none;
        box-shadow: var(--shadow-4);
        width: auto;
        min-width: 250px;
    }
}


















