.single-zoom-section{
    padding-bottom: 90px;
    position: relative;
    &::after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #DCE4EE;
    }
    .decription-area, .plan-area{
        margin-top: 40px;
        h3.title{
            font-size: 30px;
            margin-bottom: 20px;
        }
        ol{
            margin-left: 25px;
            padding-left: 0;
            margin-bottom: 0;
            li{
                margin: 0;
                font-size: 16px;
                color: #4E5562;
            }
        }
    }
    .plan-area{
        margin-top: 20px;
        ol{
            li{
                margin-bottom: 15px;
                ul{
                    margin-top: 15px;
                    li{
                        margin-bottom: 0;
                        list-style: none;
                    }
                }
                ol{
                    margin-top: 15px;
                    li{
                        ul{
                            li{
                                position: relative;
                                &::before{
                                    content: '';
                                    position: absolute;
                                    top: 41%;
                                    left: -14px;
                                    height: 6px;
                                    width: 6px;
                                    border-radius: 100%;
                                    background-color: #4E5562;
                                    @media #{$md-layout} {
                                        top: 22%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}