<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- <title>所有員工資料 - listAllAd.html</title> -->
<script th:src="@{/js/jquery-1.11.3.min.js}"></script>
<!-- 左側jquery為table分頁用 -->

<head th:insert="~{/back-end/backend_included_head}"></head>
<style type="text/css">
table {
	/* width: 1000px; */
	background-color: white;
	margin-top: 5px;
	margin-bottom: 5px;
}

table, th, td {
	border: 1px solid #CCCCFF;
}

th, td {
	padding: 5px;
	text-align: center;
	width: 100px;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

/* 以下為table分頁用 */
#pageStyle {
	display: inline-block;
	width: 32px;
	height: 32px;
	border: 1px solid #CCC;
	line-height: 32px;
	text-align: center;
	color: #999;
	margin-top: 20px;
	text-decoration: none;
}

#pageStyle:hover {
	background-color: #CCC;
}

#pageStyle .active {
	background-color: #0CF;
	color: #ffffff;
}

.ad-wrapper {
	display: flex;
}

.ad-container {
	padding-top: 80px;
	padding-left: 20px;
}
</style>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<!-- ●●js  for jquery datatables 用 -->
<script
	src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
<!-- ●●js  for jquery datatables 用 -->
<link rel="stylesheet"
	href="https://cdn.datatables.net/1.13.5/css/dataTables.jqueryui.min.css" />
<!-- ●●css for jquery datatables 用 -->

<!-- ●● jquery datatables 設定 -->
<script>
	$(document)
			.ready(
					function() {
						$('#example')
								.DataTable(
										{
											"lengthMenu" : [ 3, 5, 10, 20, 50,
													100 ],
											"searching" : false, //搜尋功能, 預設是開啟
											"paging" : true, //分頁功能, 預設是開啟
											"ordering" : true, //排序功能, 預設是開啟
											"language" : {
												"processing" : "處理中...",
												"loadingRecords" : "載入中...",
												"lengthMenu" : "顯示 _MENU_ 筆結果",
												"zeroRecords" : "沒有符合的結果",
												"info" : "顯示第 _START_ 至 _END_ 筆結果，共<font color=red> _TOTAL_ </font>筆",
												"infoEmpty" : "顯示第 0 至 0 筆結果，共 0 筆",
												"infoFiltered" : "(從 _MAX_ 筆結果中過濾)",
												"infoPostFix" : "",
												"search" : "搜尋:",
												"paginate" : {
													"first" : "第一頁",
													"previous" : "上一頁",
													"next" : "下一頁",
													"last" : "最後一頁"
												},
												"aria" : {
													"sortAscending" : ": 升冪排列",
													"sortDescending" : ": 降冪排列"
												}
											}
										});
					});
</script>
</head>

<body>
	<!-- header -->
	<div class="header_wrapper">
		<header>
			<p class="f-b-title">FitAnyWhere後台管理系統</p>
			<div class="manager">
				<img src="./images/member.png" alt="">
				<p>最高管理員</p>
			</div>
		</header>
	</div>

	<div class="ad-wrapper">
		<div th:replace="~{/back-end/backend_included_sidebar}"></div>
		<div class="ad-container">
			<div align="center">
				<b><font color=red>第<label id="currentPage">1</label>/<label
						id="pageNumber"></label>頁
				</font></b> <b>● 所有廣告方案 如 下 所 示 : 共 <font color=red
					th:text="${adListData.size}"></font> 筆
				</b>
			</div>
			<!-- 	<div style="padding: 5px; width:1115px; height:35px; background-color:#CCCCFF; margin-top:5px; margin-bottom:5px; margin-left:auto; margin-right:auto; border: 1px solid #000000;"> -->
			<!-- 			<span style="padding: 30px;">方案編號</span> -->
			<!-- 			<span style="padding: 15px;">方案名稱</span> -->
			<!-- 			<span style="padding: 20px;">方案狀態</span> -->
			<!-- 			<span style="padding: 25px;">每日廣告費用</span> -->
			<!-- 			<span style="padding: 15px;">修改</span> -->
			<!-- 			<span style="padding: 0px 0px 0px 50px;">刪除</span> -->
			<!-- 		</div> -->

			<table class="center" id="example">
				<thead>
					<tr style="background-color: #CCCCFF">

						<th>方案編號</th>
						<th>方案名稱</th>
						<th>方案狀態</th>
						<th>每日廣告費用</th>
						<th>廣告方案類別</th>
						<th>修改</th>
					</tr>
				</thead>
				<th:block th:each="adVO : ${adListData}">
					<tr>
						<td th:text="${adVO.adId}"></td>
						<td th:text="${adVO.adName}"></td>
						<td th:text="${adVO.adStatus == 1 ? '啟用' : '停用'}"></td>
						<td th:text="${adVO.adDayPrice}"></td>
						<td th:text="${adVO.adType}"></td>

						<td>
							<form method="post" th:action="@{/backend_ad/getOne_For_Update}"
								style="margin-bottom: 0px;">
								<input type="submit" value="修改"> <input type="hidden"
									name="adId" th:value="${adVO.adId}">
							</form>
						</td>
					</tr>
				</th:block>
			</table>
		</div>
	</div>
	<div class="footer_wrapper">
		<footer>
			<p class="f-b-title">FitAnyWhere Backstage</p>
		</footer>
	</div>
</body>
</html>