<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head th:insert="~{/back-end/backend_included_head}"></head>

<style>
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle-switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.toggle-switch-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

.toggle-switch input:checked + .toggle-switch-slider {
  background-color: #2196F3;
}

.toggle-switch input:checked + .toggle-switch-slider:before {
  transform: translateX(26px);
}
</style>

<body>
  <!-- =============  JS =============== -->
  <script src="js/backstage-social.js"></script>

  <!-- header -->
  <div class="header_wrapper">
    <header>
      <p class="f-b-title">FitAnyWhere後台管理系統</p>
      <div class="manager">
        <img src="./images/member.png" alt="">
        <p>最高管理員</p>
      </div>
    </header>
  </div>
  
  <!-- 下面一層容器 -->
  <div class="wrapper">
    <!-- sidebar -->
            <div th:replace="~{/back-end/backend_included_sidebar}"></div>
    

    <!-- 內容 -->
    <div class="content">
      <h1>社群管理</h1>
      <div class="content-row">
        <input type="text" class="search" placeholder="搜尋編號">
        <button class="search-action">搜尋</button>
      </div>

      <div class="wrapper social-content">
     	  <h3 class="social-text">社群貼文</h3>
          <table class="backstage_table">
          <td class="social-text"></td>
          <!-- <td class="social-button"><button>新增</button></td> -->
          <tr>
              <th >貼文編號</th>
              <th>會員暱稱</th>
              <th>貼文名稱</th>
<!--               <th>貼文內容是否有違反社群規定?</th> -->
              <th>文章狀態</th>
              <th>操作</th>
          </tr>
          <tr th:each="socialPosts : ${socialPosts}">
            <td th:text="${socialPosts.spid}">C0001</td>
            <td th:text="${socialPosts.userVO.uNickname}"></td>
            <td th:text="${socialPosts.spcontent}">跑者必修！馬拉松完賽全方位跑典</td>
<!--             <td th:text="">否</td> -->
            <td th:text="${socialPosts.spstatus == 1 ? '上架' : '下架'}">未下架</td>
            
            <td><label class="toggle-switch">
  <input type="checkbox" class="toggle-switch-checkbox" style="display:none;" th:data-spid="${socialPosts.spid}" th:checked="${socialPosts.spstatus == 1}" />
  <span class="toggle-switch-slider"></span>
</label></td>
          </tr>
          
            </div>           
        </div>
      </table>

      <!-- 燈泡事件 -->
      <!-- <div id="lightbox" class="none"> 
        <form action="">
        <article>
                <div class="feed-back-row1">
                    <p>檢舉情況不相符原因</p>
                    <input type="text" class="feedback">
                </div>
                <div class="feed-back-button">
                    <button type="button"  class="confirm">確認</button>
                    <button type="button" class="btn_model_close">取消</button>
                </div>
            </div>
        </article>
        </form>
    </div> -->
    
            <table class="backstage_table">
            <td class="forum-text"><h3>討論區貼文</h3></td>
            <tr>
                <th>貼文編號</th>
                <th>會員暱稱</th>
                <th>貼文標題</th>
                <th>文章狀態</th>
                <th>操作</th>
            </tr>
           <tr th:each="forumPosts : ${forumPosts}">
            <td th:text="${forumPosts.fpId}"></td>
            <td th:text="${forumPosts.userVO.uNickname}"></td>
            <td th:text="${forumPosts.fpContent}"></td>
<!--             <td th:text="">否</td> -->
            <td th:text="${forumPosts.fpStatus == 1 ? '上架' : '下架'}"></td>
            
            <td><label class="toggle-switch">
  <input type="checkbox" class="forum-toggle-switch-checkbox" style="display:none;" th:data-spid="${forumPosts.fpId}" th:checked="${forumPosts.fpStatus == 1}" />
  <span class="toggle-switch-slider"></span>
</label></td>
          </tr>
            
              </div>           
          </div>  
        </table>
    </div>
    </form>
  </div>
  </div>

  </table>
  </div>
  </div>

  <!-- footer -->
  <div class="footer_wrapper">
    <footer>
      <p class="f-b-title">FitAnyWhere Backstage</p>
    </footer>
  </div>

<script>

document.addEventListener('DOMContentLoaded', function() {

    // 社群貼文狀態更新
    document.querySelectorAll('.toggle-switch-checkbox').forEach(function(switchElement) {
        switchElement.addEventListener('change', function() {
          var spid = this.dataset.spid; 
          var spstatus = this.checked ? 1 : 0; 
          var newStatus = this.checked ? 1 : 0;

		  console.log("spid:"+spid);
          console.log("spstatus:"+spstatus);
          
          fetch('/backend/updateSocialPostStatus', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({ 
            	spid: spid, 
            	spstatus: spstatus 
           	})
          })
          .then(function(response) {
              if (!response.ok) {
                  throw new Error('error');
              }
              return response.text(); 
          })
          .then(function(text) {
        	  if(newStatus == 1){
        		  alert('成功上架');
        	  }else{
        		  alert('成功下架');
        	  }
             
              location.reload();
          })
          .catch(function(error) {
              alert('更新失敗');
          });
        });
      });

    // 討論區貼文狀態更新
    document.querySelectorAll('.forum-toggle-switch-checkbox').forEach(function(switchElement) {
        switchElement.addEventListener('change', function() {
          var fpId = this.dataset.spid; 
          var fpStatus = this.checked ? 1 : 0; 
          var newStatus = this.checked ? 1 : 0;          

		  console.log("fpId:"+fpId);
          console.log("fpStatus:"+fpStatus);
          
          fetch('/backend/updateForumPostStatus', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({ 
            	fpId: fpId, 
            	fpStatus: fpStatus 
           	})
          })
          .then(function(response) {
              if (!response.ok) {
                  throw new Error('error');
              }
              return response.text(); 
          })
          .then(function(text) {
        	  if(newStatus == 1){
        		  alert('成功上架');
        	  }else{
        		  alert('成功下架');
        	  }
             
              location.reload();
          })
          .catch(function(error) {
              alert('更新失敗');
          });
        });
      });
});
</script>

</body>

</html>