<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{/back-end/backend_included_head}"></head>

<body>
    <!-- header -->
    <div class="header_wrapper">
        <header>
            <p class="f-b-title">FitAnyWhere後台管理系統</p>
            <div class="manager">
                <img src="./images/member.png" alt="">
                <p>最高管理員</p>
            </div>
        </header>
    </div>

    <!-- 下面一層容器 -->
    <div class="wrapper">
        <!-- sidebar -->
        <div th:replace="~{/back-end/backend_included_sidebar}"></div>

        <!-- 內容 -->
        <div class="content">
            <h1>用戶名單</h1>
            <div class="content-row">
                <input type="text" class="search" placeholder="搜尋電子信箱">
                <button class="search-action">搜尋</button>
                <select name="" id="" value="" class="filter-state">
                    <option value="none" selected hidden>篩選用戶狀態</option>
                    <option value="all">全部</option>
                    <option value="on">啟用中</option>
                    <option value="off">已停權</option>
                </select>
            </div>
            
            <table class="backstage_table backstage_user_table">
                <tr>
                    <th>編號</th>
                    <th>暱稱</th>
                    <th>電子信箱</th>
                    <th>教練狀態</th>                    
                    <th>會員狀態</th>
                    <th></th>
                    <th>備註</th>
                </tr>
                <tr th:each="user : ${users}">
                    <td th:text="${user.uId}">00001</td>
                    <td th:text="${user.uNickname}">Mok</td>
                    <td th:text="${user.uMail}">fitanywhere@gmail.com</td>
                    <td th:text="${user.cId == 0 ? '普通會員' : '教練'}">身份</td>
                    <td th:text="${user.uStatus}">啟用中</td>
                    <td>
                        <!-- 將修改按鈕替換成下拉選單 -->
                        <select>
                            <option value="0">修改</option>
                            <option value="1">啟用</option>
                            <option value="2">註銷</option>
                        </select>
                    </td>
                    <td th:switch="${user.uStatus}">
                        <span th:case="0">標準會員</span>
                        <span th:case="1">部分停權</span>
                        <span th:case="2">已自行註銷</span>
                        <span th:case="3">已站方人工註銷</span>
                    </td>
                </tr>
                
            </table>
        </div>
    </div>


    <div class="footer_wrapper">
        <footer>
            <p class="f-b-title">FitAnyWhere Backstage</p>
        </footer>
    </div>

    

</body>

</html>