<!DOCTYPE html>
<html lang="en">

<head th:insert="~{/back-end/backend_included_head}"></head>

<body>
    <!-- header -->
    <div class="header_wrapper">
        <header>
            <p class="f-b-title">FitAnyWhere後台管理系統</p>
            <div class="manager">
                <img src="./images/member.png" alt="">
                <p>最高管理員</p>
            </div>
        </header>
    </div>

    <!-- 下面一層容器 -->
    <div class="wrapper">
        <!-- sidebar -->
        <div th:replace="~{/back-end/backend_included_sidebar}"></div>

        <!-- 內容 -->
        <div class="content">
            <h1>收件匣</h1>

            <ul class="row rhead"
                style="display: flex; justify-content: space-between; width: calc(765px - 40px); padding: 0 20px; gap: 10px;">
                <li style="width: 120px; text-align: center;">會員暱稱</li>
                <li style="width: 340px;">意見標題</li>
                <li style="width: 100px; text-align: center;">提出時間</li>
                <li style="width: 70px;text-align: center;">處理狀態</li>
                <li style="width: 50px;text-align: center;">操作</li>
            </ul>

            <div th:each="opinion : ${opinionPage.content}">
                <th:block>
                    <ul class="row"
                        style="display: flex; justify-content: space-between; width: calc(765px - 40px); padding: 0 20px; gap: 10px;">
                        <li style="width: 120px; text-align: center;" th:text="${opinion.uNickname}">ZZZZZZZZZZZZ</li>
                        <li style="width: 340px;" th:text="${opinion.opTitle}">驗證信都收不到</li>
                        <li style="width: 100px; text-align: center;"
                            th:text="${#dates.format(opinion.opSendTime, 'yyyy.MM.dd')}">2024.1.1</li>
                        <li style="width: 70px;text-align: center;" th:text="${opinion.opStatus == 0 ? '未回覆' : '已回覆'}">
                            已回覆</li>
                        <li class="content-expand" style="width: 50px;text-align: center;">查看</li>
                    </ul>

                    <div class="check-content hidden">
                        <div class="check-content-title">
                            <div class="send-from">
                                <p>會員暱稱</p>
                                <p th:text="${opinion.uNickname}">ZZZZZZZZZZZZ</p>
                            </div>
                            <div class="send-time">
                                <p>提出時間</p>
                                <p th:text="${#dates.format(opinion.opSendTime, 'yyyy.MM.dd')}">2024.1.1</p>
                            </div>
                            <div class="reply-state">
                                <p>處理狀態</p>
                                <p th:text="${opinion.opStatus == 0 ? '未回覆' : '已回覆'}"></p>
                            </div>
                        </div>
                        <div class="check-content-content">
                            <div class="send-content">
                                <p class="send-content-title">意見內容：</p>
                                <p th:text="${opinion.opContent}">這裡將顯示後端讀取到的opContent內容</p>
                            </div>
                            <div class="reply-content">
                                <p>回覆內容：</p>
                                <form th:action="@{/backend_opinion_api/}" th:method="post">
                                    <div th:if="${opinion.opStatus == 0}">
                                        <textarea name="opReplyContent" id="replyContent" cols="30" rows="10"
                                            placeholder="請輸入回覆內容"></textarea>
                                        <div class="button-container">
                                            <button type="submit">確認送出</button>
                                        </div>
                                    </div>
                                    <div th:if="${opinion.opStatus == 1}">
                                        <p th:text="${opinion.opReplyContent}">這裡將顯示後端讀取到的opReplyContent內容</p>
                                    </div>
                                    <input type="hidden" th:name="opinionId" th:value="${opinion.opId}" />
                                </form>
                            </div>
                        </div>                        
                    </div>                    
                </th:block>
            </div>
            <div class="pagination-container" style="display: flex; justify-content: center; align-items: center; margin-top: 20px;">                
                <form th:action="@{/backend_opinion}" method="get">
                    <select name="page" onchange="this.form.submit()">
                        <option th:each="pageNum : ${#numbers.sequence(0, opinionPage.totalPages - 1)}"
                                th:value="${pageNum}" th:selected="${pageNum == opinionPage.number}"
                                th:text="${pageNum + 1}"></option>
                    </select>
                    <input type="hidden" name="size" th:value="${opinionPage.size}">
                </form>
            </div>
        </div>
    </div>


    <div class="footer_wrapper">
        <footer>
            <p class="f-b-title">FitAnyWhere Backstage</p>
        </footer>
    </div>

    <script>
        var expandButtons = document.querySelectorAll('.content-expand');
        var contentSections = document.querySelectorAll('.check-content');


        expandButtons.forEach(function (button, index) {
            button.addEventListener('click', function () {

                if (contentSections[index].classList.contains('hidden')) {

                    contentSections.forEach(function (content) {
                        content.classList.add('hidden');
                    });

                    contentSections[index].classList.remove('hidden');
                } else {
                    contentSections[index].classList.add('hidden');
                }


            });
        });
    </script>

</body>

</html>