<div class="side-bar">
	<ul>
		<li><a href=""> 用戶管理 </a>
			<ol>
				<li><a href="/backend_userlist" class="nav">用戶名單</a></li>
			</ol></li>
		<li><a href="">買賣課程管理</a>
			<ol class="dropdown">
				<li><a href="/backend_course" class="nav">課程審核管理</a></li>
			</ol>
			<ol class="dropdown">
                <li><a href="/backend_course_order" class="nav">課程訂單管理</a></li>
            </ol>
            <ol class="dropdown">
              <li><a href="/backend_course_discount" class="nav">課程折扣碼管理</a></li>
          </ol>
		</li>
		<li><a href="">意見管理</a>
			<ol class="dropdown">
				<li><a href="/backend_opinion" class="nav">收件匣</a></li>
			</ol></li>
		<li><a href="">檢舉管理</a>
			<ol class="dropdown">
				<li><a href="/backend_social" class="nav">社群管理</a></li>
			</ol></li>
		<li><a href="">廣告管理</a>
			<ol class="dropdown">
				<li><a href="/backend_ad" class="nav">廣告方案</a></li>
				<li><a href="/backend_ad_list" class="nav">廣告訂單</a></li>
			</ol></li>
		<li><a href=""></a>
			<ol>
				<li><a href="/backend_login_api/admin_logout" class="nav">登出</a></li>
			</ol></li>
	</ul>
</div>