<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/back-end/backend_included_head}">

<!-- <link rel="stylesheet" th:href="@{/assets/css/vendor/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/vendor/slick.css}">
    <link rel="stylesheet" th:href="@{/assets/css/vendor/slick-theme.css}">
    <link rel="stylesheet" th:href="@{/assets/css/plugins/sal.css}">
    <link rel="stylesheet" th:href="@{/assets/css/plugins/feather.css}">
    <link rel="stylesheet" th:href="@{/assets/css/plugins/fontawesome.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/plugins/euclid-circulara.css}">
    <link rel="stylesheet" th:href="@{/assets/css/plugins/swiper.css}">
    <link rel="stylesheet" th:href="@{/assets/css/plugins/magnify.css}">
    <link rel="stylesheet" th:href="@{/assets/css/plugins/odometer.css}">
    <link rel="stylesheet" th:href="@{/assets/css/plugins/animation.css}">
    <link rel="stylesheet" th:href="@{/assets/css/plugins/bootstrap-select.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/plugins/jquery-ui.css}">
    <link rel="stylesheet" th:href="@{/assets/css/plugins/magnigy-popup.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/plugins/plyr.css}">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}"> -->
                
</head>
<body>
    <div class="header_wrapper">
        <header>
            <p class="f-b-title">FitAnyWhere後台管理系統</p>
            <div class="manager">
                <img src="./images/member.png" alt="">
                <p>最高管理員</p>
            </div>
        </header>
    </div>

    <div class="wrapper">
        <div th:replace="~{/back-end/backend_included_sidebar}"></div>
        

        <div class="content">
            <h1>買賣課程管理</h1>
            <!-- <div class="content-row">
                <input type="text" class="search" placeholder="關鍵字搜尋">
                <button class="search-action">搜尋</button>
                <select name="" id="" value="" class="filter-state">
                    <option value="none" selected hidden>篩選課程狀態</option>
                    <option value="all">全部</option>
                    <option value="on">上架中</option>
                    <option value="off">已下架</option>
                    <option value="off">未上架</option>
                </select>
            </div> -->
            <table id="coursemanaage" class="backstage_table" >
            	<thead>
	                <tr>
	                    <th>課程編號</th>
	                    <th>教練名稱</th>
	                    <th>課程分類</th>
	                    <th>課程標題</th>
	                    <th>課程副標題</th>
	                    <th>課程價錢</th>
	                    <th>評論</th>
	                    <th>困難度</th>
	                    <th>狀態</th>
	                    <th>更改</th>
	                </tr>
                </thead>
                <tbody>
                	<tr th:each="list : ${courseList}">
                		<td th:text="${list.crId}"></td>
                		<td th:text="${list.userVO.uId}"></td>
                		<td th:text="${list.crClass}"></td>
                		<td th:text="${list.crTitle}"></td>
                		<td th:text="${list.crSubtitle}"></td>
                		<td th:text="${list.crPrice}"></td>
                		<td th:text="${list.crCmQuan}"></td>
                		<td th:text="${list.crLevel}"></td>
                		<td>
                		<span th:if="${list.crState == 0}">未審核</span>
    					<span th:if="${list.crState == 1}">上架中</span>
    					<span th:if="${list.crState == 2}">已下架</span>
                		</td>
                		<td style="padding: 30px;">
						  	<form method="post" th:action="@{check_course}" style="margin-bottom: 0px;">
						     <input type="submit" value="修改">
						     <input type="hidden" name="crId" th:value="${list.crId}"></form>
						</td>
                	</tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="footer_wrapper">
        <footer>
            <p class="f-b-title">FitAnyWhere Backstage</p>
        </footer>
    </div>

    
<!-- <!-- JS -->
<!-- ============================================ --> -->
<!--     Modernizer JS -->
<!--     <script th:src="@{/assets/js/vendor/modernizr.min.js}"></script> -->
<!--     jQuery JS -->
<!--     <script th:src="@{/assets/js/vendor/jquery.js}"></script> -->
<!--     Bootstrap JS -->
<!--     <script th:src="@{/assets/js/vendor/bootstrap.min.js}"></script> -->
<!--     sal.js -->
<!--     <script th:src="@{/assets/js/vendor/sal.js}"></script> -->
<!--     <script th:src="@{/assets/js/vendor/swiper.js}"></script> -->
<!--     <script th:src="@{/assets/js/vendor/magnify.min.js}"></script> -->
<!--     <script th:src="@{/assets/js/vendor/jquery-appear.js}"></script> -->
<!--     <script th:src="@{/assets/js/vendor/odometer.js}"></script> -->
<!--     <script th:src="@{/assets/js/vendor/backtotop.js}"></script> -->
<!--     <script th:src="@{/assets/js/vendor/isotop.js}"></script> -->
<!--     <script th:src="@{/assets/js/vendor/imageloaded.js}"></script> -->

<!--     <script th:src="@{/assets/js/vendor/wow.js}"></script> -->
<!--     <script th:src="@{/assets/js/vendor/waypoint.min.js}"></script> -->
<!--     <script th:src="@{/assets/js/vendor/easypie.js}"></script> -->
<!--     <script th:src="@{/assets/js/vendor/text-type.js}"></script> -->
<!--     <script th:src="@{/assets/js/vendor/jquery-one-page-nav.js}"></script> -->
<!--     <script th:src="@{/assets/js/vendor/bootstrap-select.min.js}"></script> -->
<!--     <script th:src="@{/assets/js/vendor/jquery-ui.js}"></script> -->
<!--     <script th:src="@{/assets/js/vendor/magnify-popup.min.js}"></script> -->
<!--     <script th:src="@{/assets/js/vendor/paralax-scroll.js}"></script> -->
<!--     <script th:src="@{/assets/js/vendor/paralax.min.js}"></script> -->
<!--     <script th:src="@{/assets/js/vendor/countdown.js}"></script> -->
<!--     <script th:src="@{/assets/js/vendor/plyr.js}"></script> -->
<!--     Main JS -->
<!--     <script th:src="@{/assets/js/main.js}"></script> -->
<!--     ●● jquery datatables 設定 -->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>                                   
<script	src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
<script>
document.addEventListener("DOMContentLoaded", function() {
    var table = document.getElementById('coursemanaage');
    var dataTable = new DataTable(table, {
			"lengthMenu": [3 ,5, 10, 20, 50, 100],
			"searching": true,  //搜尋功能, 預設是開啟
		    "paging": true,     //分頁功能, 預設是開啟
		    "ordering": true,   //排序功能, 預設是開啟
		    "language": {
		        "processing": "處理中...",
		        "loadingRecords": "載入中...",
		        "lengthMenu": "顯示 _MENU_ 筆結果",
		        "zeroRecords": "沒有符合的結果",
		        "info": "顯示第 _START_ 至 _END_ 筆結果，共<font color=red> _TOTAL_ </font>筆",
		        "infoEmpty": "顯示第 0 至 0 筆結果，共 0 筆",
		        "infoFiltered": "(從 _MAX_ 筆結果中過濾)",
		        "infoPostFix": "",
		        "search": "搜尋:",
		        "paginate": {
		            "first": "第一頁",
		            "previous": "上一頁",
		            "next": "下一頁",
		            "last": "最後一頁"
		        },
		        "aria": {
		            "sortAscending":  ": 升冪排列",
		            "sortDescending": ": 降冪排列"
		        }
		    }
		});
	});
</script>
</body>
</html>