<!DOCTYPE html>
<html lang="en">

<head th:insert="~{/back-end/backend_included_head}"></head>
<body>
  <!-- =============  JS =============== -->
  <script src="js/backstage-social.js"></script>

  <!-- header -->
  <div class="header_wrapper">
    <header>
      <p class="f-b-title">FitAnyWhere後台管理系統</p>
      <div class="manager">
        <img src="./images/member.png" alt="">
        <p>最高管理員</p>
      </div>
    </header>
  </div>
  
  <!-- 下面一層容器 -->
  <div class="wrapper">
    <!-- sidebar -->
	<div th:replace="~{/back-end/backend_included_sidebar}"></div>

    <!-- 內容 -->
    <div class="content">
      <h1>社群管理</h1>
      <div class="content-row">
        <input type="text" class="search" placeholder="搜尋編號">
        <button class="search-action">搜尋</button>
      </div>

      <div class="wrapper social-content">
          <table class="backstage_table">
          <td class="social-text"><h3>社群貼文</h3></td>
          <!-- <td class="social-button"><button>新增</button></td> -->
          <tr>
              <th>貼文編號</th>
              <th>貼文名稱</th>
              <th>貼文內容是否有違反社群規定?</th>
              <th>文章狀態</th>
              <th>操作</th>
          </tr>
          <tr>
            <td>C0001</td>
            <td>跑者必修！馬拉松完賽全方位跑典</td>
            <td>否</td>
            <td>未下架</td>
            <td><button id="social-click01">編輯</button></td>
          </tr>
          <tr>
            <td>C0002</td>
            <td>多位專家搭配，從訓練、營養、心理、傷害防護等</td>
            <td>否</td>
            <td>未下架</td>
            <td><button>編輯</button></td>
          </tr>
          <tr>
            <td>C0003</td>
            <td>建立起有系統性的全方位的馬拉松課程</td>
            <td>否</td>
            <td>未下架</td>
            <td><button>編輯</button></td>
          </tr>
          <tr>
            <td>C0004</td>
            <td>就是要讓你最有效率的完成馬拉松</td>
            <td>否</td>
            <td>未下架</td>
            <td><button>編輯</button></td>
          </tr>
          <tr>
            <td>C0005</td>
            <td>跑者必修！馬拉松完賽全方位跑典</td>
            <td>否</td>
            <td>未下架</td>
            <td><button>編輯</button></td>
          </tr>
            </div>           
        </div>
      </table>

      <!-- 燈泡事件 -->
      <!-- <div id="lightbox" class="none"> 
        <form action="">
        <article>
                <div class="feed-back-row1">
                    <p>檢舉情況不相符原因</p>
                    <input type="text" class="feedback">
                </div>
                <div class="feed-back-button">
                    <button type="button"  class="confirm">確認</button>
                    <button type="button" class="btn_model_close">取消</button>
                </div>
            </div>
        </article>
        </form>
    </div> -->
    
            <table class="backstage_table">
            <td class="social-text"><h3>討論區貼文</h3></td>
            <tr>
                <th>貼文編號</th>
                <th>貼文名稱</th>
                <th>貼文內容是否有違反社群規定?</th>
                <th>文章狀態</th>
                <th>操作</th>
            </tr>
            <tr>
              <td>C0001</td>
              <td>跑者必修！馬拉松完賽全方位跑典</td>
              <td>否</td>
              <td>未下架</td>
              <td><button>編輯</button></td>
            </tr>
            <tr>
              <td>C0002</td>
              <td>多位專家搭配，從訓練、營養、心理、傷害防護等</td>
              <td>否</td>
              <td>未下架</td>
              <td><button>編輯</button></td>
            </tr>
            <tr>
              <td>C0003</td>
              <td>建立起有系統性的全方位的馬拉松課程</td>
              <td>否</td>
              <td>未下架</td>
              <td><button>編輯</button></td>
            </tr>
            <tr>
              <td>C0004</td>
              <td>就是要讓你最有效率的完成馬拉松</td>
              <td>否</td>
              <td>未下架</td>
              <td><button>編輯</button></td>
            </tr>
            <tr>
              <td>C0005</td>
              <td>跑者必修！馬拉松完賽全方位跑典</td>
              <td>否</td>
              <td>未下架</td>
              <td><button>編輯</button></td>
            </tr>
            
              </div>           
          </div>  
        </table>
    </div>
    </form>
  </div>
  </div>

  </table>
  </div>
  </div>

  <!-- footer -->
  <div class="footer_wrapper">
    <footer>
      <p class="f-b-title">FitAnyWhere Backstage</p>
    </footer>
  </div>


</body>

</html>