<!DOCTYPE html>
<html lang="en">

<head th:insert="~{/back-end/backend_included_head}"></head>
<!-- <head> -->
<style>
.ad-text2{
margin-left:40px;
padding-top:20px;
    margin-bottom: 15px;
}
.ad-text2 h3{
font-size :25px;

}

button#submit{
margin-top:20px;
}

.ad-content{
padding-bottom:20px;
}
</style>


</head>


<body>
	<!-- header -->
	<div class="header_wrapper">
		<header>
			<p class="f-b-title">FitAnyWhere後台管理系統</p>
			<div class="manager">
				<img src="./images/member.png" alt="">
				<p>最高管理員</p>
			</div>
		</header>
	</div>
	<!-- 下面一層容器 -->
	<div class="wrapper">
		<!-- sidebar -->
		<div th:replace="~{/back-end/backend_included_sidebar}"></div>

		<!-- 內容 -->
		<div class="content" style="width: 100%;">

			<div class="content-row">
				<button class="ad-change">廣告方案編輯</button>

				<div class="ad-content">

					<table class="backstage_table">

						<div class="ad-text2">
							<h3>廣告方案:首頁輪播廣告</h3>
						</div>


						<div class="parent2">
							<div>輸入方案文字說明</div>
							<p>以下欄位皆為必填表格，輸入以創建新的廣告方案</p>
						</div>
						<div align="center">
							<form th:action="@{insert}" method="post" th:object="${adVO}"
								enctype="multipart/form-data">

								<!-- 								<div> -->
								<!-- 									<label>方案ID:</label> <input type="text" th:field="*{adId}" -->
								<!-- 										onclick="hideContent('adId.errors');" /><br /> <span -->
								<!-- 										th:if="${#fields.hasErrors('adId')}" th:errors="*{adId}" -->
								<!-- 										class="error" id="adId.errors"></span> -->
								<!-- 								</div> -->
								</br>
								<div>
									<label>方案名稱:</label> <input type="text" th:field="*{adName}"
										onclick="hideContent('adName.errors');" /><br /> <span
										th:if="${#fields.hasErrors('adName')}" th:errors="*{adName}"
										class="error" id="adName.errors"></span>
								</div>
								</br>
								<div>
									<label>方案狀態:</label> <input type="radio" th:field="*{adStatus}"
										value="1" onclick="hideContent('adStatus.errors');" />啟用 <input
										type="radio" th:field="*{adStatus}" value="0"
										onclick="hideContent('adStatus.errors');" />停用 <span
										th:if="${#fields.hasErrors('adStatus')}"
										th:errors="*{adStatus}" class="error" id="adStatus.errors"></span>
								</div>
								</br>


								<div>
									<label>每日廣告單價:</label> <input type="text"
										th:field="*{adDayPrice}"
										onclick="hideContent('adDayPrice.errors');" /><br /> <span
										th:if="${#fields.hasErrors('adDayPrice')}"
										th:errors="*{adDayPrice}" class="error" id="adDayPrice.errors"></span>
								</div>

								<div>
									<label>廣告方案類別:</label> <input type="text" th:field="*{adType}"
										onclick="hideContent('adType.errors');" /><br /> <span
										th:if="${#fields.hasErrors('adType')}" th:errors="*{adType}"
										class="error" id="adType.errors"></span>
								</div>

								<div>
									<div></div>
									<div>
										<button type="submit" id="submit">送出新增</button>
									</div>
									<div></div>
								</div>
							</form>
							</br>
							<h3>
								<a th:href="@{list}">檢視所有已存在方案</a>
							</h3>
						</div>
					</table>

				</div>


			</div>
		</div>


	</div>
</body>
<div class="footer_wrapper">
	<footer>
		<p class="f-b-title">FitAnyWhere Backstage</p>
	</footer>
</div>
</html>