<!DOCTYPE html>
<html lang="en">

<head th:insert="~{/back-end/backend_included_head}"></head>

<body>
  <!-- header -->
  <div class="header_wrapper">
    <header>
      <p class="f-b-title">FitAnyWhere後台管理系統</p>
      <div class="manager">
        <img src="./images/member.png" alt="">
        <p>最高管理員</p>
      </div>
    </header>
  </div>
  <!-- 下面一層容器 -->
  <div class="wrapper">
    <!-- sidebar -->
    <div th:replace="~{/back-end/backend_included_sidebar}"></div>

    <!-- 內容 -->
    <div class="content">
      <h1>廣告訂單</h1>
      <div class="content-row">
          <input type="text" class="search" placeholder="廣告訂單搜尋">
          <button class="search-action">搜尋</button>
          <select name="" id="" value="" class="filter-state">
              <option value="none" selected hidden>篩選狀態</option>
              <option value="all">全部</option>
              <option value="on">上架中</option>
              <option value="off">已下架</option>
          </select>
      </div>

      <table class="backstage_table">
          <tr>
              <th>廣告訂單</th>
              <th>下定教練</th>
              <th>廣告方案</th>
              <th>投廣告的課程</th>
              <th>投廣告起始日</th>
              <th>投廣告結束日</th>
              <th>金額</th>
              <th>月份</th>
              <th>總進帳</th>
              <th>狀態</th>
          </tr>
          <tr>
              <td>S0001</td>
              <td>Roy</td>
              <td>方案超值A</td>
              <td>兩個月練二頭肌</td>
              <td>2024.1.1</td>
              <td>2024.1.1</td>
              <td>200</td>
              <td> 1 月</td>
              <td>1000</td>
              <td>
                <select name="" id="" value="" class="filter-state">
                  <option value="none" selected hidden>篩選狀態</option>
                  <option value="all">全部</option>
                  <option value="on">上架中</option>
                  <option value="off">已下架</option>
              </select>
              </td>
          </tr>

          <tr>
              <td>S0002</td>
              <td>小吳老師</td>
              <td>方案超值A</td>
              <td>兩個月練二頭肌</td>
              <td>2024.1.1</td>
              <td>2024.1.1</td>
              <td>300</td>
              <td> 1 月</td>
              <td>900</td>
              <td>
                <select name="" id="" value="" class="filter-state">
                  <option value="none" selected hidden>篩選狀態</option>
                  <option value="all">全部</option>
                  <option value="on">上架中</option>
                  <option value="off">已下架</option>
              </select>
              </td>
          </tr>

          <tr>
            <td>S0003</td>
            <td>大吳老師</td>
            <td>方案超值B</td>
            <td>兩個月練二頭肌</td>
            <td>2024.1.1</td>
            <td>2024.1.1</td>
            <td>500</td>
            <td> 2 月</td>
            <td>900</td>
            <td>
              <select name="" id="" value="" class="filter-state">
                <option value="none" selected hidden>篩選狀態</option>
                <option value="all">全部</option>
                <option value="on">上架中</option>
                <option value="off">已下架</option>
            </select>
            </td>
        </tr>
        
        <tr>
          <td>S0004</td>
          <td>叔叔</td>
          <td>方案超值A</td>
          <td>兩個月練二頭肌</td>
          <td>2024.1.1</td>
          <td>2024.1.1</td>
          <td>500</td>
          <td> 2 月</td>
          <td>1000</td>
          <td>
            <select name="" id="" value="" class="filter-state">
              <option value="none" selected hidden>篩選狀態</option>
              <option value="all">全部</option>
              <option value="on">上架中</option>
              <option value="off">已下架</option>
          </select>
          </td>
      </tr>

      <tr>
        <td>S0005</td>
        <td>叔數</td>
        <td>方案超值B</td>
        <td>兩個月練二頭肌</td>
        <td>2024.1.1</td>
        <td>2024.1.1</td>
        <td>500</td>
        <td> 2 月</td>
        <td>1000</td>
        <td>
          <select name="" id="" value="" class="filter-state">
            <option value="none" selected hidden>篩選狀態</option>
            <option value="all">全部</option>
            <option value="on">上架中</option>
            <option value="off">已下架</option>
        </select>
        </td>
    </tr>



      </table>
  </div>
</div>

    <!-- footer -->
    <div class="footer_wrapper">
      <footer>
        <p class="f-b-title">FitAnyWhere Backstage</p>
      </footer>
    </div>



</body>

</html>