<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/back-end/backend_included_head}">
<style>
        .container {
            display: grid;
            grid-template-columns: auto auto; /* 两列布局 */
            gap: 10px; /* 间距 */
            border: 1px solid #ccc; /* 边框样式 */
            padding: 10px; /* 内边距 */
        }

        .label {
            text-align: right; /* 标签右对齐 */
        }

        .value {
            font-weight: bold; /* 值加粗 */
        }
        .video-wrapper{
        	overflow:hidden;
        	aspect-ratio : 1;
        	max-width:300px;
        	max-height :100px;
        }
    </style>
<!-- <link rel="stylesheet" th:href="@{/assets/css/vendor/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/vendor/slick.css}">
    <link rel="stylesheet" th:href="@{/assets/css/vendor/slick-theme.css}">
    <link rel="stylesheet" th:href="@{/assets/css/plugins/sal.css}">
    <link rel="stylesheet" th:href="@{/assets/css/plugins/feather.css}">
    <link rel="stylesheet" th:href="@{/assets/css/plugins/fontawesome.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/plugins/euclid-circulara.css}">
    <link rel="stylesheet" th:href="@{/assets/css/plugins/swiper.css}">
    <link rel="stylesheet" th:href="@{/assets/css/plugins/magnify.css}">
    <link rel="stylesheet" th:href="@{/assets/css/plugins/odometer.css}">
    <link rel="stylesheet" th:href="@{/assets/css/plugins/animation.css}">
    <link rel="stylesheet" th:href="@{/assets/css/plugins/bootstrap-select.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/plugins/jquery-ui.css}">
    <link rel="stylesheet" th:href="@{/assets/css/plugins/magnigy-popup.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/plugins/plyr.css}">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}"> -->
                
</head>
<body>
    <div class="header_wrapper">
        <header>
            <p class="f-b-title">FitAnyWhere後台管理系統</p>
            <div class="manager">
                <img src="./images/member.png" alt="">
                <p>最高管理員</p>
            </div>
        </header>
    </div>

    <div class="wrapper">
        <div th:replace="~{/back-end/backend_included_sidebar}"></div>
        

        <div class="container">
            <h1>審核課程</h1>
            <form th:action="@{approval}" method="post" th:object="${courseVO}" enctype="multipart/form-data">
	            <div>
		            <label for="field-1" >課程ID ：</label>
		            <span id="crId" th:text="${courseVO.crId}"></span>
		            <input type="hidden" id="crIdcheck" th:field="*{crId}" />
	            </div>
	            <div>
		            <label for="field-1" >教練名稱 ：</label>
		            <span id="uId" th:text="${courseVO.userVO.uId}"></span>
	            </div>
	            <div>
		            <label for="field-1" >類別 ：</label>
		            <span id="crClass" th:text="${courseVO.crClass}"></span>
	            </div>
	            <div>
		            <label for="field-1" >課程標題 ：</label>
		            <span id="crTitle" th:text="${courseVO.crTitle}"></span>
	            </div>
	            <div>
		            <label for="field-1" >課程副標題 ：</label>
		            <span id="crSubtitle" th:text="${courseVO.crSubtitle}"></span>
	            </div>
	            <div>
		            <label for="field-1" >課程介紹 ：</label>
		            <span id="crIntro" th:text="${courseVO.crIntro}"></span>
	            </div>
	            <div>
		            <label for="field-1" >課程封面縮圖 ：</label>
		            <img th:src="'data:image/png;base64,' + ${base64Cover}" alt="Decoded Image">
	            </div>
	            <div>
		            <label for="field-1" >課程價錢 ：</label>
		            <span id="crPrice" th:text="${courseVO.crPrice}"></span>
	            </div>
	            <div>
		            <label for="field-1" >學習目標1 ：</label>
		            <span id="crPurpose1" th:text="${courseVO.crPurpose1}"></span>
	            </div>
	            <div>
		            <label for="field-1" >學習目標2 ：</label>
		            <span id="crPurpose2" th:text="${courseVO.crPurpose2}"></span>
	            </div>
	            <div>
		            <label for="field-1" >學習目標3 ：</label>
		            <span id="crPurpose3" th:text="${courseVO.crPurpose3}"></span>
	            </div>
	            <div>
		            <label for="field-1" >目標學習先決條件 ：</label>
		            <span id="crPre" th:text="${courseVO.crPre}"></span>
	            </div>
	            <div>
		            <label for="field-1" >目標學習適合對象 ：</label>
		            <span id="crTarget1" th:text="${courseVO.crTarget1}"></span>
	            </div>
	            <div>
		            <label for="field-1" >歡迎訊息 ：</label>
		            <span id="crHelloMsg" th:text="${courseVO.crHelloMsg}"></span>
	            </div>
	            <div>
		            <label for="field-1" >祝賀訊息 ：</label>
		            <span id="crCong" th:text="${courseVO.crCong}"></span>
	            </div>
	            <div>
		            <label for="field-1" >困難度 ：</label>
		            <span id="crLevel" th:text="${courseVO.crLevel}"></span>
	            </div>
	            <div>
		            <label for="field-1" >課程影片 ：</label>
		            <div id="cdVideo" th:each="list : ${cdVideosList}">
		            	<div th:text="${list}" class="video-wrapper"></div>
		            	<video loop style="width: auto; height: 250px;"
		            	th:src="@{/course/cdVideo(videoId=${list})}" controls></video>
		            	</div>
	            </div>
	            <div>
		            <label for="field-1">課程狀態：</label>
				    <select id="crState" th:field="*{crState}">
				        <option value="0" th:selected="${courseVO.crState == 0}">未審核</option>
				        <option value="1" th:selected="${courseVO.crState == 1}">上架中</option>
				        <option value="2" th:selected="${courseVO.crState == 2}">已下架</option>
				    </select>
	            </div>
	            <div>
	            	<button type="submit">送出</button>
	            </div>
            </form>
        </div>
    </div>


    <div class="footer_wrapper">
        <footer>
            <p class="f-b-title">FitAnyWhere Backstage</p>
        </footer>
    </div>

    
<!-- <!-- JS -->
<!-- ============================================ --> -->
<!--     Modernizer JS -->
<!--     <script th:src="@{/assets/js/vendor/modernizr.min.js}"></script> -->
<!--     jQuery JS -->
<!--     <script th:src="@{/assets/js/vendor/jquery.js}"></script> -->
<!--     Bootstrap JS -->
<!--     <script th:src="@{/assets/js/vendor/bootstrap.min.js}"></script> -->
<!--     sal.js -->
<!--     <script th:src="@{/assets/js/vendor/sal.js}"></script> -->
<!--     <script th:src="@{/assets/js/vendor/swiper.js}"></script> -->
<!--     <script th:src="@{/assets/js/vendor/magnify.min.js}"></script> -->
<!--     <script th:src="@{/assets/js/vendor/jquery-appear.js}"></script> -->
<!--     <script th:src="@{/assets/js/vendor/odometer.js}"></script> -->
<!--     <script th:src="@{/assets/js/vendor/backtotop.js}"></script> -->
<!--     <script th:src="@{/assets/js/vendor/isotop.js}"></script> -->
<!--     <script th:src="@{/assets/js/vendor/imageloaded.js}"></script> -->

<!--     <script th:src="@{/assets/js/vendor/wow.js}"></script> -->
<!--     <script th:src="@{/assets/js/vendor/waypoint.min.js}"></script> -->
<!--     <script th:src="@{/assets/js/vendor/easypie.js}"></script> -->
<!--     <script th:src="@{/assets/js/vendor/text-type.js}"></script> -->
<!--     <script th:src="@{/assets/js/vendor/jquery-one-page-nav.js}"></script> -->
<!--     <script th:src="@{/assets/js/vendor/bootstrap-select.min.js}"></script> -->
<!--     <script th:src="@{/assets/js/vendor/jquery-ui.js}"></script> -->
<!--     <script th:src="@{/assets/js/vendor/magnify-popup.min.js}"></script> -->
<!--     <script th:src="@{/assets/js/vendor/paralax-scroll.js}"></script> -->
<!--     <script th:src="@{/assets/js/vendor/paralax.min.js}"></script> -->
<!--     <script th:src="@{/assets/js/vendor/countdown.js}"></script> -->
<!--     <script th:src="@{/assets/js/vendor/plyr.js}"></script> -->
<!--     Main JS -->
<!--     <script th:src="@{/assets/js/main.js}"></script> -->
<!--     ●● jquery datatables 設定 -->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>                                   
<script	src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
<script>
document.addEventListener("DOMContentLoaded", function() {
    var table = document.getElementById('coursemanaage');
    var dataTable = new DataTable(table, {
			"lengthMenu": [3 ,5, 10, 20, 50, 100],
			"searching": true,  //搜尋功能, 預設是開啟
		    "paging": true,     //分頁功能, 預設是開啟
		    "ordering": true,   //排序功能, 預設是開啟
		    "language": {
		        "processing": "處理中...",
		        "loadingRecords": "載入中...",
		        "lengthMenu": "顯示 _MENU_ 筆結果",
		        "zeroRecords": "沒有符合的結果",
		        "info": "顯示第 _START_ 至 _END_ 筆結果，共<font color=red> _TOTAL_ </font>筆",
		        "infoEmpty": "顯示第 0 至 0 筆結果，共 0 筆",
		        "infoFiltered": "(從 _MAX_ 筆結果中過濾)",
		        "infoPostFix": "",
		        "search": "搜尋:",
		        "paginate": {
		            "first": "第一頁",
		            "previous": "上一頁",
		            "next": "下一頁",
		            "last": "最後一頁"
		        },
		        "aria": {
		            "sortAscending":  ": 升冪排列",
		            "sortDescending": ": 降冪排列"
		        }
		    }
		});
	});
</script>
</body>
</html>