








<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>廣告時間新增 - addAdDate.html</title>
<head th:insert="~{/back-end/adDate/included-fragment}"></head>
<style type="text/css">
button {
	padding: 5px;
}

form {
	display: table;
}

form div {
	display: table-row;
}

label, input, span, select {
	display: table-cell;
	margin: 5px;
	text-align: left;
}

input[type=text], input[type=password], select, textarea {
	width: 200px;
	margin: 5px;
}

form div div {
	display: table-cell;
}

.center {
	margin-left: auto;
	margin-right: auto;
}
</style>
</head>
<body>

	<nav
		class="navbar navbar-expand-md navbar-dark bg-success fixed-top justify-content-center">
		<div align="center">
			<h2>廣告時間新增 - addAdDate.html</h2>
			<h3>
				<a class="navbar-brand" th:href="@{/adDate/select_page}"><img
					th:src="@{/images/back1.gif}">回查詢頁</a>
			</h3>
		</div>
	</nav>

	<div align="center">
		<h3>
			<b>所有欄位皆為必填欄位</b>
		</h3>
		<form th:action="@{insert}" method="post" th:object="${adDateVO}"
			enctype="multipart/form-data">






<!-- 			<div> -->
<!-- 				<label>廣告時間ID:</label> <input type="text" th:field="*{adDateId}" -->
<!-- 					onclick="hideContent('adDateId.errors');" /><br /> <span -->
<!-- 					th:if="${#fields.hasErrors('adDateId')}" th:errors="*{adDateId}" -->
<!-- 					class="error" id="adDateId.errors"></span> -->
<!-- 			</div> -->

			<div>
				<label>廣告開始時間:</label> <input type="date" th:field="*{adStartDate}"
					onclick="hideContent('adStartDate.errors');" /><br /> <span
					th:if="${#fields.hasErrors('adStartDate')}"
					th:errors="*{adStartDate}" class="error" id="adStartDate.errors"></span>
			</div>

			<div>
				<label>廣告結束時間:</label> <input type="date" th:field="*{adEndDate}"
					onclick="hideContent('adEndDate.errors');" /><br /> <span
					th:if="${#fields.hasErrors('adEndDate')}" th:errors="*{adEndDate}"
					class="error" id="adEndDate.errors"></span>
			</div>


			<div>
				<label>廣告ID(關聯ad=>adId):</label> <input type="text"
					th:field="*{adVO.adId}" onclick="hideContent('adVO.adId.errors');" /><br />
				<span th:if="${#fields.hasErrors('adVO.adId')}"
					th:errors="*{adVO.adId}" class="error" id="adVO.adId.errors"></span>
			</div>


			<div>
				<div></div>
				<div>
					<button type="submit" id="submit">送出新增</button>
				</div>
				<div></div>
			</div>
		</form>

	</div>


	<!-- JavaScript part -->
	<script type="text/javascript">
		//清除提示信息
		function hideContent(d) {
			document.getElementById(d).style.display = "none";
		}

		//照片上傳-預覽用
		// var filereader_support = typeof FileReader != 'undefined';
		// if (!filereader_support) {
		// 	alert("No FileReader support");
		// }
		// acceptedTypes = {
		// 		'image/png' : true,
		// 		'image/jpeg' : true,
		// 		'image/gif' : true
		// };
		// function previewImage() {
		// 	var upfile1 = document.getElementById("upFiles");
		// 	upfile1.addEventListener("change", function(event) {
		// 		var files = event.target.files || event.dataTransfer.files;
		// 		for (var i = 0; i < files.length; i++) {
		// 			previewfile(files[i])
		// 		}
		// 	}, false);
		// }
		// function previewfile(file) {
		// 	if (filereader_support === true && acceptedTypes[file.type] === true) {
		// 		var reader = new FileReader();
		// 		reader.onload = function(event) {
		// 			var image = new Image();
		// 			image.src = event.target.result;
		// 			image.width = 100;
		// 			image.height = 75;
		// 			image.border = 2;
		// 			if (blob_holder.hasChildNodes()) {
		// 				blob_holder.removeChild(blob_holder.childNodes[0]);
		// 			}
		// 			blob_holder.appendChild(image);
		// 		};
		// 		reader.readAsDataURL(file);
		// 		document.getElementById('submit').disabled = false;
		// 	} else {
		// 		blob_holder.innerHTML = "<div  style='text-align: left;'>" + "● filename: " + file.name
		// 				+ "<br>" + "● ContentTyp: " + file.type
		// 				+ "<br>" + "● size: " + file.size + "bytes"
		// 				+ "<br>" + "● 上傳ContentType限制: <b> <font color=red>image/png、image/jpeg、image/gif </font></b></div>";
		// 		document.getElementById('submit').disabled = true;
		// 	}
		// }
	</script>

</body>
</html>