








<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>方案資料 - listOneAd.html</title>

<head th:insert="~{/back-end/adDate/included-fragment}"></head>
<style type="text/css">
	
    span {
		display: inline-block;
		width: 150px;
		text-align: left;
		font-weight: bold;
	}
</style>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top justify-content-center">
		 <div align="center"> <h2>方案資料 - listOneAd.html</h2>
		 <h3><a class="navbar-brand" th:href="@{/adDate/select_page}"><img th:src="@{/images/back1.gif}">回查詢頁<label th:text="${success}"></label></a></h3></div>
</nav>

	<div align="center" th:fragment="listOneAdDate-div"> <!-- 此div被select_page.html第128行insert用 -->
		<h3><span>查詢結果 :</span></h3>
		<span>廣告日期ID:</span><span th:text="${adDateVO.adDateId}"></span><br/>
		<span>廣告開始日期:</span><span th:text="${adDateVO.adStartDate}"></span><br/>
		<span>廣告結束日期:</span><span th:text="${adDateVO.adEndDate}"></span><br/>
		<span>adID(關聯FK):</span><span th:text="${adDateVO.adVO.adId}"></span><br/>
	</div>


</body>
</html>