








<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>訂單資料 - listOneOrder.html</title>

<head th:insert="~{/back-end/order/included-fragment}"></head>
<style type="text/css">
	
    span {
		display: inline-block;
		width: 150px;
		text-align: left;
		font-weight: bold;
	}
</style>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top justify-content-center">
		 <div align="center"> <h2>員工個人資料 - listOneOrder.html</h2>
		 <h3><a class="navbar-brand" th:href="@{/order/select_page}"><img th:src="@{/images/back1.gif}">回查詢頁<label th:text="${success}"></label></a></h3></div>
</nav>

	<div align="center" th:fragment="listOneOrder-div"> <!-- 此div被select_page.html第128行insert用 -->
		<h3><span>查詢結果 :</span></h3>
		<span>訂單編號:</span><span th:text="${orderVO.odId}"></span><br/>
		<span>訂單創建時間:</span><span th:text="${orderVO.odCreateDate}"></span><br/>
		<span>購買人:</span><span th:text="${orderVO.uId}"></span><br/>
		<span>優惠活動:</span><span th:text="${orderVO.dcId}"></span><br/>
		<span>訂單結束時間:</span><span th:text="${orderVO.odEndDate}"></span><br/>
		<span>訂單總金額:</span><span th:text="${orderVO.odPrice}"></span><br/>
		<span>訂單狀態:</span><span th:text="${orderVO.odStatus}"></span><br/>
		
<!-- 		<span>部門:</span><span th:text="${empVO.deptVO.deptno} + '-[' + ${empVO.deptVO.dname} + ']'"></span><br/> -->
<!-- 		<span>照片:</span><span><img th:src="@{/emp/DBGifReader} + '?empno=' + ${empVO.empno}" width="100px"></span><br/> -->
	</div>


</body>
</html>