<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Order History</title>
    <meta name="robots" content="noindex, follow"/>
    <meta name="description" content="">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon"
          th:href="@{/assets/images/favicon.png}">

    <!-- CSS
        ============================================ -->
    <link rel="stylesheet" th:href="@{/assets/css/vendor/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/vendor/slick.css}">
    <link rel="stylesheet" th:href="@{/assets/css/vendor/slick-theme.css}">
    <link rel="stylesheet" th:href="@{/assets/css/plugins/sal.css}">
    <link rel="stylesheet" th:href="@{/assets/css/plugins/feather.css}">
    <link rel="stylesheet"
          th:href="@{/assets/css/plugins/fontawesome.min.css}">
    <link rel="stylesheet"
          th:href="@{/assets/css/plugins/euclid-circulara.css}">
    <link rel="stylesheet" th:href="@{/assets/css/plugins/swiper.css}">
    <link rel="stylesheet" th:href="@{/assets/css/plugins/magnify.css}">
    <link rel="stylesheet" th:href="@{/assets/css/plugins/odometer.css}">
    <link rel="stylesheet" th:href="@{/assets/css/plugins/animation.css}">
    <link rel="stylesheet"
          th:href="@{/assets/css/plugins/bootstrap-select.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/plugins/jquery-ui.css}">
    <link rel="stylesheet"
          th:href="@{/assets/css/plugins/magnigy-popup.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/plugins/plyr.css}">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">

    <style>
        .check_od_btn {
            height: 40px;
            font-size: 14px;
            padding: 0 15px;
            line-height: 40px;

        }

        .datatable_list {
            word-wrap: break-word;
        }

        #lightbox2 {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background-color: hsla(0, 0%, 0%, .5);

            z-index: 10;
        }

        #lightbox2-content2 {
            background-color: white;
            width: 90%;
            max-width: 800px;
            border-radius: 10px;
            box-shadow: hsla(0, 0%, 0%, .5);
            padding: 10px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            padding: 50px 0;


        }

        #lightbox2 .fade:not(.show) {
            opacity: 1;
        }

        .dataTables_filter {
            margin-bottom: 20px;

        }
        #headshot {
            min-height: 120px;
        }
        .bg_image--23 {
            background-image: url("../images/bg/yoda.jpg");
        }
    </style>

    </style>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <!-- ●●js  for jquery datatables 用 -->
    <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
    <!-- ●●js  for jquery datatables 用 -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/dataTables.jqueryui.min.css"/>

</head>

<body>

<!-- Start Header Area -->
<div th:replace="front-end/header.html"></div>
<!-- Mobile Menu Section -->
<div th:replace="front-end/header_moblie.html"></div>

<!-- Start Side Vav -->
<div th:replace="front-end/cart/cartview.html"></div>
<!-- End Side Vav -->
<a class="close_side_menu" href="javascript:void(0);"></a>

<div class="rbt-page-banner-wrapper">
    <!-- Start Banner BG Image  -->
    <div class="rbt-banner-image"></div>
    <!-- End Banner BG Image  -->
</div>

<!-- Start Card Style -->
<div
        class="rbt-dashboard-area rbt-section-overlayping-top rbt-section-gapBottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Start Dashboard Top  -->
                <div class="rbt-dashboard-content-wrapper">
                    <div class="tutor-bg-photo bg_image bg_image--23 height-350"></div>
                    <!-- Start Tutor Information  -->
                    <div class="rbt-tutor-information">
                        <div class="rbt-tutor-information-left">
                            <div class="thumbnail rbt-avatars size-lg">
                                <img class="userHeadshot" th:data-user-id="${session.uId}" id="headshot" alt="User Headshot">
                            </div>
                            <div class="tutor-content">
                                <h5 class="title" th:text="${session.uNickname}"></h5>
                                <ul class="rbt-meta rbt-meta-white mt--5">
                                    <li th:text="'已累積了 '+${orderCount}+ ' 筆訂單'"><i class="feather-book"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="rbt-tutor-information-right">
                            <div class="tutor-btn">
                                <a class="rbt-btn btn-md hover-icon-reverse" href="/course/coach_dashboard"> <span
                                        class="icon-reverse-wrapper"> <span class="btn-text">教練模式</span>
											<span class="btn-icon"><i class="feather-arrow-right"></i></span>
											<span class="btn-icon"><i class="feather-arrow-right"></i></span>
									</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- End Tutor Information  -->
                </div>
                <!-- End Dashboard Top  -->

                <div class="row g-5">
                    <div class="col-lg-3">
                        <!-- Start Dashboard Sidebar  -->
                        <div th:replace="front-end/member_sidebar"></div>
                        <!-- End Dashboard Sidebar  -->
                    </div>

                    <div class="col-lg-9">
                        <!-- Start Enrole Course  -->
                        <div class="rbt-dashboard-content bg-color-white rbt-shadow-box">
                            <div class="content">
                                <div class="section-title">
                                    <h4 class="rbt-title-style-3">歷史訂單</h4>
                                </div>

                                <div
                                        class="rbt-dashboard-table table-responsive mobile-table-750">
                                    <table class="rbt-table table table-borderless datatable_list"
                                           id="order_history_table">
                                        <thead>
                                        <tr>
                                            <th>訂單編號</th>
                                            <!--											<th>課程名稱</th>-->
                                            <!-- <th>訂單創立時間</th> -->
                                            <th>訂單成立</th>
                                            <th>訂單總金額</th>
                                            <th>訂單狀態</th>
                                            <th>訂單詳情</th>
                                        </tr>
                                        </thead>

                                        <tbody>

                                        <th:block th:each="orderVO : ${orderListData}">

                                            <tr>
                                                <th class="odId" th:text="${orderVO.odId}"></th>
                                                <td th:text="${#dates.format(orderVO.odCreateDate, 'yyyy-MM-dd HH:mm')}"></td>
                                                <td th:text="${orderVO.odPrice}"></td>
                                                <!--                                                <td th:text="${orderVO.odStatus}"></td>-->
                                                <td>
                                                    <span th:if="${orderVO.odStatus == 1}">訂單已完成</span>
                                                    <span th:if="${orderVO.odStatus == 2}">訂單失敗</span>
                                                    <span th:if="${orderVO.odStatus == 3}">訂單處理中</span>
                                                </td>
                                                <td><a class="rbt-btn check_od_btn" href="#">查看</a></td>
                                            </tr>

                                        </th:block>

                                        </tbody>
                                    </table>
                                </div>

                                <div id="lightbox2" style="display: none;">
                                    <div class="tab-pane fade" id="lightbox2-content2" role="tabpanel">
                                        <div class="rbt-my-account-inner">
                                            <h3>訂單明細</h3>

                                            <div class="rbt-my-account-table table-responsive text-center">
                                                <table class="table table-bordered">
                                                    <thead class="thead-light">
                                                    <tr>
                                                        <th>課程圖片</th>
                                                        <th>課程名稱</th>
                                                        <th>價格</th>
                                                    </tr>
                                                    </thead>

                                                    <tbody class="detailBody">


                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- End Enrole Course  -->
                </div>
            </div>

        </div>
    </div>
</div>
</div>
<!-- End Card Style -->


<div class="rbt-separator-mid">
    <div class="container">
        <hr class="rbt-separator m-0">
    </div>
</div>
<!-- Start Footer aera -->
<div th:replace="/front-end/footer"></div>
<!-- End Footer aera -->
<div class="rbt-progress-parent">
    <svg class="rbt-back-circle svg-inner" width="100%" height="100%"
         viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"/>
    </svg>
</div>

<!-- JS
============================================ -->
<!-- Modernizer JS -->
<script th:src="@{/assets/js/vendor/modernizr.min.js}"></script>
<!-- jQuery JS -->
<script th:src="@{/assets/js/vendor/jquery.js}"></script>
<!-- Bootstrap JS -->
<script th:src="@{/assets/js/vendor/bootstrap.min.js}"></script>
<!-- sal.js -->
<script th:src="@{/assets/js/vendor/sal.js}"></script>
<script th:src="@{/assets/js/vendor/swiper.js}"></script>
<script th:src="@{/assets/js/vendor/magnify.min.js}"></script>
<script th:src="@{/assets/js/vendor/jquery-appear.js}"></script>
<script th:src="@{/assets/js/vendor/odometer.js}"></script>
<script th:src="@{/assets/js/vendor/backtotop.js}"></script>
<script th:src="@{/assets/js/vendor/isotop.js}"></script>
<script th:src="@{/assets/js/vendor/imageloaded.js}"></script>

<script th:src="@{/assets/js/vendor/wow.js}"></script>
<script th:src="@{/assets/js/vendor/waypoint.min.js}"></script>
<script th:src="@{/assets/js/vendor/easypie.js}"></script>
<script th:src="@{/assets/js/vendor/text-type.js}"></script>
<script th:src="@{/assets/js/vendor/jquery-one-page-nav.js}"></script>
<script th:src="@{/assets/js/vendor/bootstrap-select.min.js}"></script>
<script th:src="@{/assets/js/vendor/jquery-ui.js}"></script>
<script th:src="@{/assets/js/vendor/magnify-popup.min.js}"></script>
<script th:src="@{/assets/js/vendor/paralax-scroll.js}"></script>
<script th:src="@{/assets/js/vendor/paralax.min.js}"></script>
<script th:src="@{/assets/js/vendor/countdown.js}"></script>
<script th:src="@{/assets/js/vendor/plyr.js}"></script>
<!-- Main JS -->
<script th:src="@{/assets/js/main.js}"></script>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        var table = document.getElementById('order_history_table');
        var dataTable = new DataTable(table, {
            "lengthMenu": 10,
            "lengthChange": false,
            "searching": true,  //搜尋功能, 預設是開啟
            "paging": true,     //分頁功能, 預設是開啟
            "ordering": true,   //排序功能, 預設是開啟
            "language": {
                "processing": "處理中...",
                "loadingRecords": "載入中...",
                "lengthMenu": "顯示 _MENU_ 筆結果",
                "zeroRecords": "沒有符合的結果",
                "info": "顯示第 _START_ 至 _END_ 筆結果，共<font color=red> _TOTAL_ </font>筆",
                "infoEmpty": "顯示第 0 至 0 筆結果，共 0 筆",
                "infoFiltered": "(從 _MAX_ 筆結果中過濾)",
                "infoPostFix": "",
                "search": "",
                "searchPlaceholder": "請輸入想搜尋的訂單",
                "paginate": {
                    "first": "第一頁",
                    "previous": "上一頁",
                    "next": "下一頁",
                    "last": "最後一頁"
                },
                "aria": {
                    "sortAscending": ": 升冪排列",
                    "sortDescending": ": 降冪排列"
                }
            }
        });
        $('#searchInput').on('input', function () {
            let searchText = $(this).val().trim();
            console.log('draw')
            dataTable.search(searchText).draw();
        });

    });


    $('.check_od_btn').click(function (e) {
        // 取消預設動作
        e.preventDefault();
        let odId_el = $(this).closest('tr').find('.odId');
        let odId = parseInt($(odId_el).text());

        fetch(`/detail/details/${odId}`)
            .then(res => {
                if (!res.ok) {
                    console.log('error')
                }
                console.log('success');
                return res.json();
            }).then(details => {
            let fetchPromises = details.map(detail => {
                // 讀取圖片
                return fetch('/cr_cover/course_image', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({cr_id: detail.crId}),
                }).then(response => {
                        if (response.status === 404){
                            return `
                        <tr>
                            <td><img src="/assets/images/client/avatar-02.png" alt="Course Cover" style="max-height: 50px"/></td>
                            <td>${detail.crTitle}</td>
                            <td>${detail.cdPrice}</td>
                        </tr>
                    `;
                        }
                        if (!response.ok) {

                            throw new Error('Failed to fetch course image');
                        }
                        return response.blob();
                    })
                    .then(blob => {
                        // 如果 404 直接使用預設圖
                        if (typeof blob === 'string') {
                            // 如果是字串代表找不到圖片
                            return blob;
                        }
                        // 如果有圖片則轉為URL
                        let image_cover = URL.createObjectURL(blob);
                        return `
                        <tr>
                            <td><img src="${image_cover}" alt="Course Cover" style="max-height: 50px"/></td>
                            <td>${detail.crTitle}</td>
                            <td>${detail.cdPrice}</td>
                        </tr>
                    `;
                    });
            });

            Promise.all(fetchPromises).then(contents => {
                let lightbox2Content = contents.join('');
                $('.detailBody').html(lightbox2Content);


                $('#lightbox2').show();
                $('body').css('overflow', 'hidden');
            }).catch(err => {
                console.error("err:", err);
            })

        })

        // let details = $(odId_el).data('order-detail');


    });
    $(document).mouseup(function (e) {
        let lightbox2 = $('#lightbox2-content2');
        if (!lightbox2.is(e.target) && lightbox2.has(e.target).length === 0) {
            $('#lightbox2').hide();
            $('body').css('overflow', 'auto');
        }

    });

    //userRestController getUserHeadshot
    $(document).ready(function () {
        let userIdList = [];

        $('.userHeadshot').each(function () {
            let data = $(this).data('user-id');

            // fetch 可以直接處理二進制資料(如blob)
            fetch('/user_api/user_headshot_test', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({u_id: data}),
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('response error');
                    }
                    return response.blob();
                })
                .then(blob => {
                    let image_Url = URL.createObjectURL(blob);
                    ;
                    let this_e = $(this);
                    $(this).attr('src', image_Url);
                })
                .catch(error => {
                    console.error('找不到user image:', error);
                    $(this).attr('src', '/assets/images/client/avatar-02.png');
                });
        });
    });
</script>
</body>

</html>