<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Game of Thrones Opening Theme</title>
        </head>
        <style>
           .video-div {
              width: 640px;
              height: 364px;
              max-width: 640px;
              max-height: 364px;
              min-width: 640px;
              min-height: 364px;
           }
        </style>
    <body> 
        <h3>Test</h3>
        <div class="video-div">
        <video loop style="width: 100%; height: auto;"
               controls src="/course/cdVideo">
        </video>
        </div>
    </body>
</html>