<!-- Start Side Vav -->
<div class="rbt-cart-side-menu">
    <div class="inner-wrapper">
        <div class="inner-top">
            <div class="content">
                <div class="title">
                    <h4 class="title mb--0">購物車</h4>
                </div>
                <div class="rbt-btn-close" id="btn_sideNavClose">
                    <button class="minicart-close-button rbt-round-btn"><i class="feather-x"></i></button>
                </div>
            </div>
        </div>

        <!--  購物車內容  -->


        <nav class="side-nav w-100">
            <ul class="rbt-minicart-wrapper" id="cart">
                <!--        購物車清單        -->

                <!--                    <li class="minicart-item">-->
                <!--                        <div class="thumbnail">-->
                <!--                            <a th:href="@{#}">-->
                <!--                                <img th:src="@{/assets/images/product/7.jpg}" alt="Product Images">-->
                <!--                            </a>-->
                <!--                        </div>-->
                <!--                        <div class="product-content">-->
                <!--                            <h6 class="title"><a href="single-product.html">Happy Strong</a></h6>-->

                <!--                            <span class="quantity">1 * <span class="price">$30</span></span>-->
                <!--                        </div>-->
                <!--                        <div class="close-btn">-->
                <!--                            <button class="rbt-round-btn"><i class="feather-x"></i></button>-->
                <!--                        </div>-->
                <!--                    </li>-->


            </ul>
        </nav>

        <div class="rbt-minicart-footer">
            <hr class="mb--0">
            <div class="rbt-cart-subttotal">
                <p class="subtotal"><strong>小計:</strong></p>
                <p class="price" id="crTotal"></p>
            </div>
            <hr class="mb--0">
            <div class="rbt-minicart-bottom mt--20">
                <div class="view-cart-btn">
                    <a class="rbt-btn btn-border icon-hover w-100 text-center" href="/cart/check">
                        <span class="btn-text">結帳去</span>
                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                    </a>
                </div>
<!--                <div class="checkout-btn mt&#45;&#45;20">-->
<!--                    <a class="rbt-btn btn-gradient icon-hover w-100 text-center checkOut" href="javascript:void(0);">-->
<!--                        <span class="btn-text">結帳</span>-->
<!--                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>-->
<!--                    </a>-->
<!--                </div>-->
            </div>
        </div>

    </div>
</div>
<!-- End Side Vav -->
<script>

    // 刪除item
    $(document).on('click', '.removeItem', (e) => {
        let btn = e.target;
        console.log(e.target)
        let crId = $(btn).data('cr-id');
        console.log(crId)
        // 抓取被刪除的課程價格
        let crPriceMatch = $(btn).closest('.removeItem_parent').find('.removeItem_price').text().match(/\d+/);
        let crPrice = crPriceMatch ? parseInt(crPriceMatch[0]) : 0;
        // 抓取購物車總金額
        let crTotalMatch = $('#crTotal').text().match(/\d+/);
        let crTotal = crTotalMatch ? parseInt(crTotalMatch[0]) : 0;
        // 更新購物車總金額
        $('#crTotal').text(`NT$${crTotal - crPrice}`);
        // 刪除被刪除的item
        $(btn).closest('.removeItem_parent').remove();

        // 發送刪除請求給後端
        deleteItem(crId);

        if (window.location.pathname === '/cart/check') {
            location.reload();
        }

    });


    function deleteItem(crId) {
        // 發送刪除請求給後端
        fetch(`/cart/remove/${crId}`, {
            method: 'DELETE'
        }).then(res => {
            if (!res.ok) {
                console.error('刪除課程時出現錯誤')

            } else {
                console.log("刪除成功")

            }
        }).catch(err => {
            console.log("發生錯誤:", err)
        });
    }



</script>
