<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<head th:insert="~{/front-end/included-head}"></head>
<head>
<style>
.body-index .chat-select-row {
	flex-wrap: wrap;
}

.chat-card {
	margin-bottom: 20px;
}

.chat-img {
	background-color: transparent;
}
.chat-card-word{
	min-width:400px;
}
.featger-user{
	color:#f8de22;
}

@media (max-width: 1350px) {
	.body-index .chat-card{
		width:70%;
		margin:0 auto;
		justify-content:space-between;
		margin-bottom:15px;
	}
 }
</style>


</head>
<div th:replace="/front-end/cart/cartview.html"></div>

<body class="rbt-header-sticky body-index">
	<div th:insert="front-end/header.html"></div>
	<div th:replace="front-end/header_moblie.html"></div>


	<!-- 廣告輪播 課程 -->
	<!-- 要把jquery的物件可能要塞回來 -->
	<!-- 縮小到一定尺寸 RWD就壞掉了 -->
<div class="rbt-splash-testimonial-area bg-color-white overflow-hidden position-relative">
    <div class=" pt--90">
        <div class="scroll-animation-wrapper no-overlay mt--50">
            <div class="scroll-animation scroll-right-left">
                <!-- 圖片容器將在這裡動態生成 -->
            </div>
        </div>
    </div>
</div>

	<!-- 廣告輪播 課程 結束 -->

	<!-- 近期熱門課程 -->
	<!-- 近期熱門課程 標題-->


	<!-- 		<a class="coach_index" th:href="@{course/coach_dashboard}" -->
	<!-- 			style="text-align: center; justify-content: center">教練主頁入口 暫時 之後要刪掉</a> -->


	<!-- 近期熱門課程 結束-->

	<!-- 探索課程 -->
	<!-- 探索課程 標題-->
	<div class="wrapper wrapper-explore">
		<div class="post post-left">
			<h1>探索課程</h1>
			<p>加入最優惠</p>
		</div>
		<div class="post-right">
			<a href="/course/courses">更多 > </a>
		</div>
	</div>

	<div class="row g-5 mt--30 content-width">
		<!-- Start Feature Box  -->
		<div class="col-lg-4 col-md-6 col-12" data-sal-delay="200"
			data-sal="slide-up" data-sal-duration="800"
			th:each="courseVO : ${courseListData}">
			<div class="rbt-default-card style-three rbt-hover">
				<!-- 課程卡片 開始 -->
				<div class="inner">
					<div class="content pt--0 pb--10">
						<h2 class="title">
							<a th:href="@{/course/single_course/{crId}(crId=${courseVO.crId})}" th:text="${courseVO.crTitle}">魔鬼有氧2</a>
						</h2>

<!-- 						<span class="team-form"> <span class="location" -->
<!-- 							th:text="${courseVO.userVO.uNickname}">By 吳永志</span> -->
<!-- 						</span> -->
					</div>
					<div class="thumbnail">
						<a th:href="@{/course/single_course/{crId}(crId=${courseVO.crId})}"> 
												<img 							
														th:src="'data:image/jpeg;base64,' + ${courseVO.base64CrCover}"
														alt="Card image" class="courseCoverImage">


						</a>
					</div>
					<div class="content">

						<div class="rbt-author-meta mb--10">
							<div class="rbt-avater">
								<a th:href="@{/course/single_course/{crId}(crId=${courseVO.crId})}"> <img class="userHeadshot"
									th:data-user-id="${courseVO.userVO.uId}" alt="Coach Image">
									<!--   <img th:src="@{/assets/images/client/avatar-02.png}"-->
								</a>
							</div>
							<div class="rbt-author-info">

								By <span th:text="${courseVO.userVO.uNickname}"></span>
							</div>
						</div>

<!-- 						<div class="rbt-review justify-content-center"> -->
<!-- 							<div class="rating"> -->
<!-- 								<i class="fas fa-star"></i> <i class="fas fa-star"></i> <i -->
<!-- 									class="fas fa-star"></i> <i class="fas fa-star"></i> <i -->
<!-- 									class="fas fa-star"></i> -->
<!-- 							</div> -->
<!-- 							<span class="rating-count">台灣第一健身強人，科學化鍛鍊全書</span> -->
<!-- 						</div> -->
						<div class="rbt-price justify-content-center mt--10">
							<span class="current-price theme-gradient"
								th:text=" 'NT$' + ${courseVO.crPrice}">$60.50</span>
							<!-- 							 <span -->
							<!-- 								class="off-price" >$110.50</span> -->
						</div>

					</div>
				</div>
				<!-- 課程卡片 結束 -->
			</div>
		</div>



	</div>
	<!-- End Feature Box  -->
	</div>

	<!-- 精選貼文 -->
	<!-- 精選貼文 標題 -->
	<div class="wrapper wrapper-explore">
		<div class="post post-left">
			<h1>精選貼文</h1>
			<p>每週為你嚴選系列文章</p>
		</div>
		<div class="post-right">
			<a href="/forumpost/listAllForumPost">更多 > </a>
		</div>
	</div>

	<div class="chat-select">
		<div class="chat-select-row">
			<div class="chat-card" th:each="forumPostVO : ${forumPostListFour}">
				<div class="chat-card-word">
					<div class="title-1">
						<i class="feather-user"></i>
						<p th:text="${forumPostVO.userVO.uNickname}">Joy老師</p>
						<img th:src="@{/images/calander.png}" alt="">
						<p th:text="${forumPostVO.fpTime}">2023/12/26</p>
<!-- 						<img th:src="@{/images/eye.png}" alt=""> -->
						<!-- 						<p >2,580</p> -->
					</div>
					<div class="title-2">
						<h2 th:text="${forumPostVO.fpTitle}">歐美超模的秘密：給零基礎的第一堂芭蕾雕塑</h2>
					</div>
					<div class="title-3">
						<p th:text="${forumPostVO.fpContent}">奧黛麗赫本曾經說過：優美的姿態，來源於與知識同行而不是獨行。</p>
					</div>
				</div>
				<div class="chat-img">
					<img src="" alt="Card image" th:data-fpid="${forumPostVO.fpId}">
				</div>
			</div>
			
		</div>
		
	</div>

	<!-- Start Feature List Area  可用在 探索課程-->
	<div
		class="rbt-splash-fetaure-list-area bg-color-white rbt-section-gap top-circle-shape-top">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-title text-center"></div>
				</div>
			</div>
			<div class="row g-5 mt--30">


				<!-- Start Feature Box  -->
				<div class="col-lg-4 col-md-6 col-12" data-sal-delay="200"
					data-sal="slide-up" data-sal-duration="800"></div>

				<div class="col-lg-3 col-md-3 col-2"></div>



			</div>
		</div>
	</div>
	<!-- End Feature List Area  -->



	<!-- Start Accordion Area  -->

	<!-- End Accordion Area  -->





	<footer th:replace="front-end/footer.html"></footer>

	<!-- go top 跳到最上面 -->
	<div class="rbt-progress-parent">
		<svg class="rbt-back-circle svg-inner" width="100%" height="100%"
			viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
	</div>


	<!-- Modernizer JS -->
	<script th:src="@{/js/vendor/modernizr.min.js}"></script>
	<!-- jQuery JS -->
	<script th:src="@{/js/vendor/jquery.js}"></script>
	<!-- Bootstrap JS -->
	<script th:src="@{/js/vendor/bootstrap.min.js}"></script>
	<!-- sal.js -->
	<script th:src="@{/js/vendor/sal.js}"></script>
	<script th:src="@{/js/vendor/swiper.js}"></script>
	<script th:src="@{/js/vendor/magnify.min.js}"></script>
	<script th:src="@{/js/vendor/jquery-appear.js}"></script>
	<script th:src="@{/js/vendor/odometer.js}"></script>
	<script th:src="@{/js/vendor/backtotop.js}"></script>
	<script th:src="@{/js/vendor/isotop.js}"></script>
	<script th:src="@{/js/vendor/imageloaded.js}"></script>

	<script th:src="@{/js/vendor/wow.js}"></script>
	<script th:src="@{/js/vendor/waypoint.min.js}"></script>
	<script th:src="@{/js/vendor/easypie.js}"></script>
	<script th:src="@{/js/vendor/text-type.js}"></script>
	<script th:src="@{/js/vendor/jquery-one-page-nav.js}"></script>
	<script th:src="@{/js/vendor/bootstrap-select.min.js}"></script>
	<script th:src="@{/js/vendor/jquery-ui.js}"></script>
	<script th:src="@{/js/vendor/magnify-popup.min.js}"></script>
	<script th:src="@{/js/vendor/paralax-scroll.js}"></script>
	<script th:src="@{/js/vendor/paralax.min.js}"></script>
	<script th:src="@{/js/vendor/countdown.js}"></script>
	<script th:src="@{/js/vendor/plyr.js}"></script>
	<!-- Main JS -->
	<script th:src="@{/js/main.js}"></script>
	<script th:src="@{/js/mok/mok_opinion.js}"></script>

	<script>
//                 $(document).ready(function() {
//                     console.log($('.scroll-animation.scroll-right-left'))
//                     const imgText = [
//                         {
//                             src:'https://i.pinimg.com/564x/96/ab/74/96ab74e38ceba1e678ccf2132c93f273.jpg',
//                             text:'就是要你'
//                         },
//                         {
//                             src:'https://i.pinimg.com/564x/a9/5c/ea/a95ceaef7caf10e0dfa883fa5073c533.jpg',
//                             text:'鳩引餓死'
//                         }
//                     ]
//         for(let index in imgText){
//         $('.scroll-animation.scroll-right-left').append(`<div class="single-column-20 bg-theme-gradient-odd" style="width: 470px; height: 450px; background-size: contain; background-repeat: no-repeat; background-position: center center;">
//                             <div class="rbt-testimonial-box style-2">
//                                 <div class="img-test">
//                                     <img src=${imgText[index].src} style="width: 470px; height: 450px;" alt="Clint Images">
//                                 </div>
//                             </div>
//                         </div>`);
//     }
//         });
        // 可以在這邊寫這一個頁面的jquery
    </script>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
// 預設照片是JPEG,如是別種形式的照片，需更改:data:image/jpeg;base64,
$(document).ready(function() {
    // 發送AJAX請求到後端的API端點
    $.ajax({
        url: '/adCarousel/homePageAds',
        type: 'GET',
        success: function(base64Images) {
            var container = $('.scroll-animation.scroll-right-left');
            base64Images.forEach(function(base64Image) {
                var adHtml = '<div class="single-column-20 bg-theme-gradient-odd" style="background-size: contain;">' +
                             '<div class="rbt-testimonial-box style-2" style="width: 470px; height: 450px; background-size: contain; background-repeat: no-repeat; background-position: center center;">' +
                             '<div class="img-test">' +
                             '<img src="data:image/jpeg;base64,' + base64Image + '" style="width: 470px; height: 450px;" />' +
                             '</div></div></div>';
                container.append(adHtml);
            });
        },
        error: function() {
            alert("無法加載廣告輪播圖片");
        }
    });
});
</script>
    


	<script>
//     $(".mainmenu-sub").on("mouseenter mouseleave",function(){
//         $(this).find("a").toggleClass("mainmenu-sub-active");
//     });


</script>

	<script th:inline="javascript">
	
// 課程的大頭貼
$(document).ready(function () {
	$('a.recover').off('click');
	
	
    let userIdList = [];

    $('.userHeadshot').each(function () {
        let data = $(this).data('user-id');

        // fetch 可以直接處理二進制資料(如blob)
        fetch('/user_api/user_headshot_test', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({u_id: data}),
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('response error');
                }
                return response.blob();
            })
            .then(blob => {
                let image_Url = URL.createObjectURL(blob);
                ;
                $(this).attr('src', image_Url);
            })
            .catch(error => {
//                 console.error('找不到user image:', error);
                $(this).attr('src', '/assets/images/client/avatar-02.png');
            });
    });
});

// 討論區
$(document).ready(function() {
    $('img[data-fpid]').each(function() {
        var imgElement = $(this); 
        var fpId = imgElement.data('fpid'); 
		console.log(fpId);

		
		fetch('/index/forumPost/img', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({fp_id: fpId}),
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('response error');
                }
                return response.blob();
            })
            .then(blob => {
                let image_cover = URL.createObjectURL(blob);
                // console.log(image_cover);
                let this_e = $(this);
                console.log(this_e)
                $(this).attr('src', image_cover);
            })
            .catch(error => {
                $(this).attr('src', '/assets/images/client/avatar-02.png');
            });
		
       
    });
});

$(document).ready(function() {
	
	$(".courseCoverImage").each(function(){
		
		console.log("this:"+this.outerHTML);

		var emptyBase64Src = "data:image/jpeg;base64,";
		
		if (this.src === emptyBase64Src ||  !this.src || this.src.includes('null')) {
			
			$(this).attr('src','/assets/images/client/avatar-02.png');
			console.log("this:"+this);

		}
		
		
	})
	
	
	
	
});




</script>

</body>
</html>