.body-register .register_name_gender {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.body-register .bootstrap-select>.dropdown-toggle{
    width: 100px;
}
.body-register .row{
  justify-content: space-around;
}