<header class="rbt-header rbt-header-10">
    <div class="rbt-sticky-placeholder"></div>
    <!-- End Header Top  -->
    <div class="rbt-header-wrapper header-space-betwween header-sticky" style="padding: 0 20px;">
        <div class="container-fluid" style="padding: 0px;">
            <div class="mainbar-row rbt-navigation-center align-items-center">
                <div class="header-left rbt-header-content">
                    <div class="header-info">
                        <div class="logo">
                            <a href="/">
                                <img th:src="@{/assets/images/logo/fitanywhere.png}" alt="Education Logo Images">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="rbt-main-navigation d-none d-xl-block">
                    <nav class="mainmenu-nav">
                        <ul class="mainmenu">
                            <li class="has-dropdown has-menu-child-item">
                                <a href="/">首頁
                                    <!--                                    <i class="feather-chevron-down"></i>-->
                                </a>

                            </li>
                            <li class="has-dropdown has-menu-child-item">
                                <a href="/course/courses">課程
                                    <!--                                    <i class="feather-chevron-down"></i>-->
                                </a>
                                <!--                                <ul class="submenu">-->
                                <!--                                    <li class="has-dropdown"><a href="#">Instructor Dashboard</a>-->

                                <!--                                    </li>-->
                                <!--                                    <li class="has-dropdown"><a href="#">Student Dashboard</a>-->

                                <!--                                    </li>-->
                                <!--                                </ul>-->
                            </li>
                            <li class="has-dropdown has-menu-child-item">
                                <a th:href="@{/forumpost/listAllForumPost}">討論區
                                    <!--                                    <i class="feather-chevron-down"></i>-->
                                </a>

                            </li>
                            <!--                             <li class="has-dropdown has-menu-child-item"> -->
                            <!--                                 <a href="#">TDEE／FFMI 計算公式 -->
                            <!--                                                                        <i class="feather-chevron-down"></i> -->
                            <!--                                 </a> -->

                            <!--                             </li> -->

                        </ul>
                    </nav>
                </div>

                <div class="header-right" style="margin-right: -10px;">

                    <!-- Navbar Icons -->
                    <ul class="quick-access">
                        <li class="access-icon">
                            <a class="search-trigger-active rbt-round-btn" href="#">
                                <i class="feather-search"></i>
                            </a>
                        </li>
                        <li class="access-icon rbt-mini-cart">

                            <a class="rbt-cart-sidenav-activation rbt-round-btn" onclick="getCartItems()" href="#">
                                <i class="feather-shopping-cart"></i>
                                <!--                                <span class="rbt-cart-count">4</span>-->
                            </a>
                        </li>

                        <!-- Eugen 意見回饋按鈕 -->
                        <li class="access-icon">
                            <a class="rbt-round-btn opinion-btn" href="#">
                                <i class="feather-mail"></i>
                            </a>
                        </li>

                        <!--                        <li class="access-icon">-->
                        <!--                            <a class=" rbt-round-btn" href="#">-->
                        <!--                                <i class="feather-bell"></i>-->
                        <!--                                <span class="rbt-cart-count">4</span>-->
                        <!--                            </a>-->
                        <!--                        </li>-->


                        <li class="account-access rbt-user-wrapper d-none d-xl-block">
                            <a href="#"><i class="feather-user"></i>會員</a>
                            <div class="rbt-user-menu-list-wrapper" style="right: 10px; left: auto;">
                                <div class="inner" style="padding-top: 30px;">
                                    <div class="rbt-admin-profile">
                                        <div class="admin-thumbnail">
                                            <img th:src="@{/assets/images/team/avatar.jpg}" alt="User Images">
                                        </div>
                                        <div class="admin-info">
                                            <span class="name" th:text="${session.uNickname}">Nipa Bali</span>
                                            <a class="rbt-btn-link color-primary" href="#">個人檔案</a>
                                        </div>
                                    </div>
                                    <ul class="user-list-wrapper">
                                        <li>
                                            <a href="/socialpost/">
                                                <i class="feather-home"></i>
                                                <span>會員中心</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/socialpost/news">
                                                <i class="feather-bookmark"></i>
                                                <span>最新消息</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/course/my_courses">
                                                <i class="feather-shopping-bag"></i>
                                                <span>我的課程</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/order/order_history">
                                                <i class="feather-clock"></i>
                                                <span>歷史訂單</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <hr class="mt--10 mb--10">
                                    <ul class="user-list-wrapper">
                                        <li>
                                            <a href="/user/user_register">
                                                <i class="feather-log-out" name="register-btn"></i>
                                                <span>註冊</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <ul class="user-list-wrapper">
                                        <li>
                                            <a href="/user/user_login">
                                                <i class="feather-log-out" name="logout-in-btn"></i>
                                                <span>登入</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <ul class="user-list-wrapper">
                                        <li>
                                            <a href="">
                                                <i class="feather-log-out" name="logout-post-btn"></i>
                                                <span>登出</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li class="access-icon rbt-user-wrapper d-block d-xl-none">
                            <a class="rbt-round-btn" href="#"><i class="feather-user"></i></a>
                            <div class="rbt-user-menu-list-wrapper">
                                <div class="inner">
                                    <div class="rbt-admin-profile">
                                        <div class="admin-thumbnail">
                                            <img th:src="@{/assets/images/team/avatar.jpg}" alt="User Images">
                                        </div>
                                        <div class="admin-info">
                                            <span class="name" th:text="${session.uNickname}">Nipa Bali</span>
                                            <a class="rbt-btn-link color-primary" href="profile.html">View Profile</a>
                                        </div>
                                    </div>
                                    <ul class="user-list-wrapper">
                                        <li>
                                            <a href="/socialpost/">
                                                <i class="feather-home"></i>
                                                <span>會員中心</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="feather-bookmark"></i>
                                                <span>最新消息</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/course/my_courses">
                                                <i class="feather-shopping-bag"></i>
                                                <span>我的課程</span>
                                            </a>
                                        </li>

<!--                                         <li> -->
<!--                                             <a href="/mj/student_wishlist"> -->
<!--                                                 <i class="feather-heart"></i> -->
<!--                                                 <span>願望清單</span> -->
<!--                                             </a> -->
<!--                                         </li> -->
                                        <li>
                                            <a href="/course/my_courses">
                                                <i class="feather-star"></i>
                                                <span>我的評論</span>
                                            </a>
                                        </li>
<!--                                         <li> -->
<!--                                             <a href="/mj/student_my_quiz_attempts"> -->
<!--                                                 <i class="feather-list"></i> -->
<!--                                                 <span>我的問答</span> -->
<!--                                             </a> -->
<!--                                         </li> -->

                                        <li>
                                            <a href="/order/order_history">
                                                <i class="feather-clock"></i>
                                                <span>歷史訂單</span>
                                            </a>
                                        </li>

<!--                                         <li> -->
<!--                                             <a href="/mj/student_gift_history"> -->
<!--                                                 <i class="feather-message-square"></i> -->
<!--                                                 <span>收禮紀錄</span> -->
<!--                                             </a> -->
<!--                                         </li> -->

                                    </ul>

                                    <hr class="mt--10 mb--10">
                                     <ul class="user-list-wrapper">
                                        <li>
                                            <a href="/user/user_register">
                                                <i class="feather-log-out" name="register-btn"></i>
                                                <span>註冊</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <ul class="user-list-wrapper">
                                        <li>
                                            <a href="/user/user_login">
                                                <i class="feather-log-out" name="logout-in-btn"></i>
                                                <span>登入</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <ul class="user-list-wrapper">
                                        <li>
                                            <a href="/">
                                                <i class="feather-log-out" name="logout-post-btn"></i>
                                                <span>登出</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                    </ul>

                    <!-- Start Mobile-Menu-Bar -->
                    <div class="mobile-menu-bar d-block d-xl-none">
                        <div class="hamberger">
                            <button class="hamberger-button rbt-round-btn">
                                <i class="feather-menu"></i>
                            </button>
                        </div>
                    </div>
                    <!-- Start Mobile-Menu-Bar -->

                </div>
            </div>
        </div>
        <!-- Start Search Dropdown  -->
        <div class="rbt-search-dropdown">
            <div class="wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <form action="#">
                            <input type="text" placeholder="What are you looking for?">
                            <div class="submit-btn">
                                <a class="rbt-btn btn-gradient btn-md" href="#">Search</a>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="rbt-separator-mid">
                    <hr class="rbt-separator m-0">
                </div>

                <div class="row g-4 pt--30 pb--60">
                    <div class="col-lg-12">
                        <div class="section-title">
                            <h5 class="rbt-title-style-2">Our Top Course</h5>
                        </div>
                    </div>

                    <!-- Start Single Card  -->
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="rbt-card variation-01 rbt-hover">
                            <div class="rbt-card-img">
                                <a href="course-details.html">
                                    <img th:src="@{/assets/images/course/course-online-01.jpg}" alt="Card image">
                                </a>
                            </div>
                            <div class="rbt-card-body">
                                <h5 class="rbt-card-title"><a href="course-details.html">React Js</a>
                                </h5>
                                <div class="rbt-review">
                                    <div class="rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <span class="rating-count"> (15 Reviews)</span>
                                </div>
                                <div class="rbt-card-bottom">
                                    <div class="rbt-price">
                                        <span class="current-price">$15</span>
                                        <span class="off-price">$25</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Card  -->

                    <!-- Start Single Card  -->
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="rbt-card variation-01 rbt-hover">
                            <div class="rbt-card-img">
                                <a href="course-details.html">
                                    <img th:src="@{/assets/images/course/course-online-02.jpg}" alt="Card image">
                                </a>
                            </div>
                            <div class="rbt-card-body">
                                <h5 class="rbt-card-title"><a href="course-details.html">Java Program</a>
                                </h5>
                                <div class="rbt-review">
                                    <div class="rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <span class="rating-count"> (15 Reviews)</span>
                                </div>
                                <div class="rbt-card-bottom">
                                    <div class="rbt-price">
                                        <span class="current-price">$10</span>
                                        <span class="off-price">$40</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Card  -->

                    <!-- Start Single Card  -->
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="rbt-card variation-01 rbt-hover">
                            <div class="rbt-card-img">
                                <a href="course-details.html">
                                    <img th:src="@{/assets/images/course/course-online-03.jpg}" alt="Card image">
                                </a>
                            </div>
                            <div class="rbt-card-body">
                                <h5 class="rbt-card-title"><a href="course-details.html">Web Design</a>
                                </h5>
                                <div class="rbt-review">
                                    <div class="rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <span class="rating-count"> (15 Reviews)</span>
                                </div>
                                <div class="rbt-card-bottom">
                                    <div class="rbt-price">
                                        <span class="current-price">$10</span>
                                        <span class="off-price">$20</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Card  -->

                    <!-- Start Single Card  -->
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="rbt-card variation-01 rbt-hover">
                            <div class="rbt-card-img">
                                <a href="course-details.html">
                                    <img th:src="@{/assets/images/course/course-online-04.jpg}" alt="Card image">
                                </a>
                            </div>
                            <div class="rbt-card-body">
                                <h5 class="rbt-card-title"><a href="course-details.html">Web Design</a>
                                </h5>
                                <div class="rbt-review">
                                    <div class="rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <span class="rating-count"> (15 Reviews)</span>
                                </div>
                                <div class="rbt-card-bottom">
                                    <div class="rbt-price">
                                        <span class="current-price">$20</span>
                                        <span class="off-price">$40</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Card  -->
                </div>

            </div>
        </div>
        <!-- End Search Dropdown  -->
    </div>
    <!-- Start Side Vav -->


    <div th:replace="front-end/included_mail.html"></div>

    <!-- End Side Vav -->
    <a class="rbt-close_side_menu" href="javascript:void(0);"></a>
</header>

<script>
    //連結按鈕的地方
    $(".button_model").on("click", function (e) {
        e.preventDefault();
        $("#lightbox").removeClass("none");
    });

    // 關閉按鈕
    $("button.btn_model_close").on("click", function () {
        $("#lightbox").addClass("none");
    });


    // 首頁意見回饋彈窗會用最下面的Script處理(Eugen)
    //$("#lightbox").on("click", function(){
    //    $("#lightbox").addClass("none");
    //})

    /*  $("#lightbox > article").on("click", function (e) {
         e.stopPropagtion();
     });
 
     $(".opinion-btn").on("click", function (e) {
         e.preventDefault();
         $("#lightbox").removeClass("none");
     }); */
</script>
<script>

    // 查詢購物車有哪些課程
    const getCartItems = () => {
        //const url = window.location.href;
        fetch('/cart/get')
            .then((res) => {
                // 如果不成功 new Error
                if (res.redirected) {
                    window.location.href = res.url;
                }
                if (!res.ok) {
                    throw new Error("Network response was not ok.")
                }
                // 如果成功
                // 解析JSON格式的響應數據
                return res.json()
            }).then(data => {
            let sum = 0;
            //將數據顯示在網頁上
            const cartEl = document.getElementById('cart');
            cartEl.innerHTML = '';
            // 遍歷購物車數據
            data.forEach(item => {
                sum += item.crPrice;
                console.log(item);

                var crId = item.crId;

                var cover = item.crCover != null ? `data:image/jpeg;base64,${item.crCover}` : '/assets/images/client/avatar-02.png';


                cartEl.innerHTML +=
                    `<li class="minicart-item removeItem_parent">

                        <div class="thumbnail">
                            <a th:href="@{#}">
                                <img src="${cover}" alt="Product Images">

                            </a>
                        </div>
                        <div class="product-content">
                            <h6 class="title"><a href="single-product.html">${item.crTitle}</a></h6>
                            <span class="price removeItem_price" >NT$${item.crPrice}</span>
                        </div>
                        <div class="close-btn">
                            <button class="rbt-round-btn removeItem "  data-cr-id="${crId}" >
                            <i class="feather-x " data-cr-id="${crId}"></i>
                            </button>
                        </div>
                     </li>`;

            });
            document.getElementById('crTotal').innerText = `NT$${sum != null ? sum : 0}`;

        }).catch(error => {
            console.error('發生錯誤:', error)
        });
    }

    // Eugen (需要jQuery)
    // 處理意見回饋的登入檢查
    $(".opinion-btn").on("click", function (e) {
        e.preventDefault(); // 防止預設動作

        // 使用 AJAX 發送請求檢查使用者登錄狀態
        $.ajax({
            url: "/base_api/check_user_login",
            method: "POST",
            success: function (data, textStatus, xhr) {
                // HTTP 200: 使用者已登錄，顯示彈窗
                if (xhr.status === 200) {
                    $("#lightbox").removeClass("none"); // 只有在這裡顯示彈窗
                }
            },
            error: function (xhr, textStatus, errorThrown) {
                // HTTP 401: 使用者未登錄，顯示警告
                if (xhr.status === 401) {
                    alert("請先登錄才能使用意見反饋功能!");
                } else {
                    // 其他HTTP錯誤，顯示一般錯誤提示
                    alert("伺服器異常，請稍後再試或聯繫站方!");
                }
            }
        });
    });

    // 處理意見彈窗的資料傳輸和關閉
    $(document).ready(function () {
        // 初始化時禁用"送出"按鈕
        $(".confirm").prop("disabled", true);

        // 監聽輸入，只有當兩個欄位都非空值才啟用"送出"按鈕
        $("#titleInput, #contentInput").on("input", function () {
            var title = $("#titleInput").val().trim();
            var content = $("#contentInput").val().trim();
            $(".confirm").prop("disabled", title === "" || content === "");
        });

        // "送出"按鈕點擊事件
        $(".confirm").on("click", function () {
            var title = $("#titleInput").val().trim();
            var content = $("#contentInput").val().trim();

            // 使用AJAX向後端發送請求
            $.ajax({
                url: "/opinion_api/user_create_opinion",
                method: "POST",
                contentType: "application/json",
                data: JSON.stringify({opTitle: title, opContent: content}),
                success: function (response) {
                    // HTTP 200: 顯示成功消息，並關閉彈窗
                    alert("已收到您的寶貴意見, 我們會盡快回覆您!");
                    // 關閉彈窗
                    $("#lightbox").addClass("none");
                },
                error: function (xhr) {
                    // 根據不同的HTTP狀態碼給出不同的提示
                    if (xhr.status === 500) {
                        alert("伺服器錯誤, 請稍後重新提交!");
                    } else {
                        // 處理其他可能的錯誤
                        alert("發生錯誤，請稍後再試!");
                    }
                }
            });
        });

        // "取消"按鈕點擊事件，關閉彈窗
        $("button.btn_model_close").on("click", function () {
            $("#lightbox").addClass("none");
        });

        // 防止點擊彈窗內容時關閉彈窗
        $("#lightbox > article").on("click", function (e) {
            e.stopPropagation();
        });

    });


    // 處理使用Post的會員登出
    $(document).ready(function () {
        // 使用logout-post-btn識別器來找到元素並設置點擊事件監聽器
        $("i[name='logout-post-btn']").closest('a').click(function (e) {
            // 防止<a>標籤的默認GET請求
            e.preventDefault();

            // 使用AJAX發送POST請求到指定的URL
            $.ajax({
                type: "POST",
                url: "/user_api/user_logout_post",
                dataType: "json",
                success: function (response) {
                    // 處理成功執行跳轉
                    if (response.status === "success") {
                        window.location.href = response.redirect;
                    }
                },
                error: function () {
                    alert("伺服器異常，請稍後再試!");
                }
            });
        });
    });

    // 意見回饋輸入基本檢查    
    var titleInput = document.getElementById("titleInput");
    var titleCount = document.getElementById("titleCount");
    var contentInput = document.getElementById("contentInput");
    var contentCount = document.getElementById("contentCount");

    titleInput.addEventListener("input", function () {
        if (titleInput.value.length > 15) {
            titleInput.value = titleInput.value.slice(0, 15);
            alert("標題不得超過15字!");
        }
    });

    contentInput.addEventListener("input", function () {
        if (contentInput.value.length > 150) {
            contentInput.value = contentInput.value.slice(0, 150);
            alert("內容不得超過150字!");
        }
    });


</script>