<div class="popup-mobile-menu">
	<div class="inner-wrapper">
		<div class="inner-top">
			<div class="content">
				<div class="logo">
					<a href="index.html">  <img th:src="@{/assets/images/logo/fitanywhere.png}" alt="Education Logo Images">
					</a>
				</div>
				<div class="rbt-btn-close">
					<button class="close-button rbt-round-btn">
						<i class="feather-x"></i>
					</button>
				</div>
			</div>
		</div>

		<nav class="mainmenu-nav">
			<ul class="mainmenu">
				<li class="with-megamenu has-menu-child-item position-static">
					<a href="#">首頁 </a>
				</li>

				<li class="with-megamenu has-menu-child-item"><a href="/course/courses">課程
				</a></li>

				<li class="has-dropdown has-menu-child-item"><a href="/forumpost/listAllForumPost">討論區
				</a></li>

<!-- 				<li class="with-megamenu has-menu-child-item position-static"> -->
<!-- 					<a href="#">TDEE / FFMI 計算公式</a> -->
<!-- 				</li> -->
			</ul>
		</nav>

		<div class="mobile-menu-bottom"></div>
	</div>
</div>