<header class="rbt-header rbt-header-10">
        <div class="rbt-sticky-placeholder"></div>
        <div class="rbt-header-wrapper header-space-betwween header-transparent header-sticky">
            <div class="container-fluid">
                <div class="mainbar-row rbt-navigation-start align-items-center">
                    <div class="header-left rbt-header-content">
                        <div class="header-info">
                            <div class="logo">
                                <a href="index.html">
                                    <img th:src="@{/images/logo/fitanywherelogo.png}" alt="Logo Images">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="rbt-main-navigation d-none d-xl-block">
                        <nav class="mainmenu-nav">
                            <ul class="mainmenu">
                                <li class="with-megamenu has-menu-child-item position-static mainmenu-sub not-hamber">
                                    <a href="#">TDEE / FFMI計算公式</a>
                                </li>

                                <li class="with-megamenu has-menu-child-item mainmenu-sub not-hamber">
                                    <a href="./g2-blog-list.html">討論區</a>
                                </li>

                                <li class="has-dropdown has-menu-child-item mainmenu-sub not-hamber">
                                    <a href="./student-dashboard.html">會員中心</a>
                                </li>

                                <li class="with-megamenu has-menu-child-item position-static mainmenu-sub not-hamber">
                                    <a href="./g2-02-course-school.html">線上課程<i class="feather-chevron-down"></i></a>
                                </li>

                                <li class="not-hamber"><a href=""><img src="./@{/images/bell.png" alt=""></a></li>
                                <li class="not-hamber"><a href="./g2-cart.html"><img th:src="@{images/cart.png}" alt=""></a></li>
                                <li class="not-hamber">
                                    <a href="" class="button_model feed_back">
                                        <img th:src="@{/images/mail.png}" alt="">
                                    </a>
                                    <div id="lightbox" class="none"> 
                                        <form action="">
                                        <article>
                                            <div class="article-inner-wrapper">
                                                <h1>意見回饋</h1>
                                                <div class="feed-back-row1">
                                                    <p>暱稱</p>
                                                    <input type="text" placeholder="哈哈哈" value="" disabled>
                                                </div>
                                                <div class="feed-back-row2">
                                                    <p>帳號</p>
                                                    <input type="text" placeholder="jay6666666@gmail.com" value="" disabled>
                                                </div>
                                                <div class="feed-back-row3">
                                                    <p>意見回饋</p>
                                                    <input type="textarea" class="feedback">
                                                </div>
                                                <div class="feed-back-button">
                                                    <button type="button"  class="confirm">確認</button>
                                                    <button type="button" class="btn_model_close">取消</button>
                                                </div>
                                            </div>
                                        </article>
                                        </form>
                                    </div>
                                </li>    
                                <li class="with-megamenu has-menu-child-item position-static mainmenu-sub not-hamber">
                                    <a href="./g2-register.html">登入 / 註冊</a>
                                </li>
                                <li class="hamber">
                                    <div class="hamberger">
                                        <button class="hamberger-button rbt-round-btn">
                                            <i class="feather-menu"></i>
                                        </button>
                                    </div>
                                </li>
                                                             
                            </ul>
                        </nav>
                    </div>


                </div>
            </div>
        </div>
    </header>