<div id="lightbox" class="none">
	<form action="">
		<article>
			<div class="article-inner-wrapper">
				<h1>意見回饋</h1>
				<!-- <div class="feed-back-row1">
					<p>暱稱</p>
					<input type="text" value="" disabled>
				</div> -->
				<div class="feed-back-row2">
					<p>主旨</p>
					<input type="text" placeholder="請輸入意見標題(15字內)" maxlength="80">
				</div>
				<div class="feed-back-row3">
					<p>內容</p>
					<textarea placeholder="請輸入意見內容(150字內)" class="input-text" maxlength="620"
						style="text-align: left; vertical-align: top;"></textarea>
				</div>

				<div class="feed-back-button">
					<button type="button" class="confirm">送出</button>
					<button type="button" class="btn_model_close">取消</button>
				</div>
			</div>
		</article>
	</form>
</div>