
<div id="lightbox" class="none">
	<form action="">
		<article>
			<div class="article-inner-wrapper">
				<h1>意見回饋</h1>
				<div class="feed-back-row1">
					<p>暱稱</p>
					<input type="text" placeholder="哈哈哈" value="" disabled>
				</div>
				<div class="feed-back-row2">
					<p>帳號</p>
					<input type="text" placeholder="jay6666666@gmail.com" value=""
						disabled>
				</div>
				<div class="feed-back-row3">
					<p>意見回饋</p>
					<input type="textarea" class="feedback">
				</div>
				<div class="feed-back-button">
					<button type="button" class="confirm">確認</button>
					<button type="button" class="btn_model_close">取消</button>
				</div>
			</div>
		</article>
	</form>
</div>