<div
	class="rbt-default-sidebar sticky-top rbt-shadow-box rbt-gradient-border">
	<div class="inner">
		<div class="content-item-content">

			<div class="rbt-default-sidebar-wrapper">
				<div class="section-title mb--20">
					<h6 class="rbt-title-style-2">Welcome, Jone Due</h6>
				</div>
				<nav class="mainmenu-nav">
					<ul class="dashboard-mainmenu rbt-default-sidebar-list">
						<li><a href="/socialpost/"><i
								class="feather-home"></i><span>會員社群</span></a></li>
						<li><a href="student-profile.html"><i
								class="feather-user"></i><span>意見回饋</span></a></li>
						<li><a href="student-enrolled-courses.html"><i
								class="feather-book-open"></i><span>我的課程</span></a></li>
						<li><a href="student-wishlist.html"><i
								class="feather-bookmark"></i><span>願望清單</span></a></li>
						<li><a href="student-reviews.html"><i
								class="feather-star"></i><span>我的評論</span></a></li>
						<li><a href="student-my-quiz-attempts.html"><i
								class="feather-help-circle"></i><span>我的問答</span></a></li>
						<li><a th:href="@{/order/order_history}"><i
								class="feather-shopping-bag"></i><span>歷史訂單</span></a></li>
						<li><a href="student-gift-history.html"><i
								class="feather-shopping-bag"></i><span>收禮紀錄</span></a></li>
					</ul>
				</nav>

				<div class="section-title mt--40 mb--20">
					<h6 class="rbt-title-style-2">User</h6>
				</div>

				<nav class="mainmenu-nav">
					<ul class="dashboard-mainmenu rbt-default-sidebar-list">
						<li><a href="student-settings.html"><i
								class="feather-settings"></i><span>設定</span></a></li>
						<li><a href="index.html"><i class="feather-log-out"></i><span>登出</span></a></li>
					</ul>
				</nav>
			</div>

		</div>
	</div>
</div>